<section>
        <div class="container-fluid" style="padding: 15px 0px;">
           <div class="row no-gutters" style="height: 100%;">
            <div class="col-md-2">
              <div class="card" style="width: 18rem;;height:37rem;">
                  <div class="card-header">
                    <h2>Sports</h2>
                  </div>
                  <li class="list-group-item">
                        <div>
                              <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                               Cricket
                              </div>
                            
                              <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                                <a  href="#" class="list-group-item">Cricket Bat</a>
                                <a  href="#" class="list-group-item">Cricket Kit</a>
                                <a  href="#" class="list-group-item">Cricket Items</a>
                               
                              </div>
                            </div>

                          </li> 

                          <li class="list-group-item">
                                <div>
                                      <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                       Tennis
                                      </div>
                                    
                                      <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                                        <a  href="#" class="list-group-item">Tennis Racquets</a>
                                        <a  href="#" class="list-group-item">Tennis Balls</a>
                                        <a  href="#" class="list-group-item">Tennis Kits</a>
                                       
                                      </div>
                                    </div>
        
                                  </li> 
                                  <li class="list-group-item">
                                        <div>
                                              <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                               Badminton
                                              </div>
                                            
                                              <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                                                <a  href="#" class="list-group-item">Badminton Racquets</a>
                                                <a  href="#" class="list-group-item">Badminton Shuttles</a>
                                                
                                               
                                              </div>
                                            </div>
                
                                          </li> 
                                          <li class="list-group-item">
                                                <div>
                                                      <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                                       Cycling
                                                      </div>
                                                    
                                                      <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                                                        <a  href="#" class="list-group-item">Cycles</a>
                                                        <a  href="#" class="list-group-item">Cycle Accessories</a>
                                                    
                                                      </div>
                                                    </div>
                        
                                                  </li> 
                </div>
            </div>
            
            <div class="col-md-10">
                <div class="container-fluid">
                    
    
                    
    
                </div>
            </div>
          </div> 
        </div>
    </section>