
            
              <div class="card" style="width: 250px;height:37rem;float: left;">
                  <div class="card-header">
                    <h2>Sports</h2>
                  </div>
                  <li class="list-group-item">
                        <div>
                              <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                               Cricket
                              </div>
                            
                              <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                                <a  href="#" class="list-group-item">Cricket Bat</a>
                                <a  href="#" class="list-group-item">Cricket Kit</a>
                                <a  href="#" class="list-group-item">Cricket Items</a>
                               
                              </div>
                            </div>

                          </li> 

                          <li class="list-group-item">
                                <div>
                                      <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                       Tennis
                                      </div>
                                    
                                      <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                                        <a  href="#" class="list-group-item">Tennis Racquets</a>
                                        <a  href="#" class="list-group-item">Tennis Balls</a>
                                        <a  href="#" class="list-group-item">Tennis Kits</a>
                                       
                                      </div>
                                    </div>
        
                                  </li> 
                                  <li class="list-group-item">
                                        <div>
                                              <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                               Badminton
                                              </div>
                                            
                                              <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                                                <a  href="#" class="list-group-item">Badminton Racquets</a>
                                                <a  href="#" class="list-group-item">Badminton Shuttles</a>
                                                
                                               
                                              </div>
                                            </div>
                
                                          </li> 
                                          <li class="list-group-item">
                                                <div>
                                                      <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                                       Cycling
                                                      </div>
                                                    
                                                      <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                                                        <a  href="#" class="list-group-item">Cycles</a>
                                                        <a  href="#" class="list-group-item">Cycle Accessories</a>
                                                    
                                                      </div>
                                                    </div>
                        
                                                  </li> 
                </div>
            
            
                    <div class="card" >
                        <div class="card-header">

                                <p>Home > Sports</p>
                                <h5>Showing results for Sports</h5>
                        </div>

                        <div class="container">
                                   <div class="row">
                                   <div class="col-md-3" >
                                        <a href="#" class="ads">      <img src="/assets/img/sports/bat2.jpeg" class="row1-photo img-fluid " alt="No image" > 
                                            <br>
                                            <br>
                                            
                                            <h6>Ms Dhoni Spartan Edition </h6>
                                            
                                            <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                                           <h4> ₹999</h4></a>


                                   </div>
                                   <div class="col-md-3">
                                        <a href="#" class="ads">      <img src="/assets/img/sports/bat5.jpg" class="row1-photo img-fluid " alt="No image" > 
                                            <br>
                                            <br>
                                            
                                            <h6>Just Rider (Full Size) </h6>
                                            
                                            <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                                           <h4> ₹1299</h4></a>


                                   </div>
                                   <div class="col-md-3">
                                        <a href="#" class="ads">      <img src="/assets/img/sports/bat3.jpg" class="row1-photo img-fluid " alt="No image" > 
                                            <br>
                                            <br>
                                            
                                            <h6>LYCAN Stunner Bigger Edge Full Size Hard PVC and Plastic Cricket Bat (2.5-Inch)  </h6>
                                            
                                            <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                                           <h4> ₹1599</h4></a>


                                   </div>
                                   <div class="col-md-3">
                                        <a href="#" class="ads">      <img src="/assets/img/sports/bat4.jpg" class="row1-photo img-fluid " alt="No image" > 
                                            <br>
                                            <br>
                                            
                                            <h6>
                                                    SUNLEY Sarthak Men's Hard Plastic Alloy Cricket Bat (Full Size)
                                                     </h6>
                                            
                                            <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                                           <h4> ₹1799</h4></a>


                                   </div>





                                   </div>


                                   <hr>
                                   <div class="row">
                                        <div class="col-md-3" >
                                             <a href="#" class="ads">      <img src="/assets/img/sports/b1.jpeg" class="row1-photo img-fluid " alt="No image" > 
                                                 <br>
                                                 <br>
                                                 
                                                 <h6>Yonex Mavis Special Edition </h6>
                                                 
                                                 <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                                                <h4> ₹999</h4></a>
     
     
                                        </div>
                                        <div class="col-md-3">
                                             <a href="#" class="ads">      <img src="/assets/img/sports/b2.jpeg" class="row1-photo img-fluid " alt="No image" > 
                                                 <br>
                                                 <br>
                                                 
                                                 <h6>Li-Ning G-Tek 80 II Multicolor Strung Badminton Racquet  </h6>
                                                 
                                                 <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                                                <h4> ₹699</h4></a>
     
     
                                        </div>
                                        <div class="col-md-3">
                                             <a href="#" class="ads">      <img src="/assets/img/sports/b5.jpeg" class="row1-photo img-fluid " alt="No image" > 
                                                 <br>
                                                 <br>
                                                 
                                                 <h6>Li-Ning XP 710, Pack of 2 Yellow Strung Badminton Racquet  </h6>
                                                 
                                                 <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                                                <h4> ₹1399</h4></a>
     
     
                                        </div>
                                        <div class="col-md-3">
                                             <a href="#" class="ads">      <img src="/assets/img/sports/b4.jpeg" class="row1-photo img-fluid " alt="No image"  > 
                                                 <br>
                                                 <br>
                                                 
                                                 <h6>
                                                        Adrenex by Flipkart R501 Full Graphite Badminton Racquet Black, Blue Strung
                                                          </h6>
                                                 
                                                 <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                                                <h4> ₹999</h4></a>
     
     
                                        </div>
     
     
     
     
     
                                        </div>
     









                        </div>













                    </div>
    
              