<div class="card-header">
    <h3>Philosophy Books</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a  class="ads"><img src="../assets/books/phil1.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">Enlightenment Now<br><br><p class="text-muted" >Steven Pinker</p>
                <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(35)</span><br>
               
                <i class="fa fa-inr" aria-hidden="true"></i>357&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >599</p><b>40% off</b>
                    </h5>
            </a>  
            </div>
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a class="ads"><img src="../assets/books/phil2.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">You Are The Supreme Light<br><p class="text-muted" >Adi Shankara</p>
                <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(14)</span><br>
                <i class="fa fa-inr" aria-hidden="true"></i>282&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >399</p><b>29% off</b>
            </h5>
            </a>                              
            </div>
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a class="ads"><img src="../assets/books/phil3.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">The Decline Of Civilization <br><br><p class="text-muted" >Ramin Johanberln</p>
                <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(55)</span><br>
                <i class="fa fa-inr" aria-hidden="true"></i>251&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >399</p><b>37% off</b>
              </h5>
            </a> 
            </div>
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a class="ads"><img src="../assets/books/phil4.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">An Introducation to Indian Philosophy<p class="text-muted" >Satish Chandra</p>
                    <span class="badge badge-pill badge-success"> 3.6 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(1,046)</span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>177&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >295</p><b>40% off</b> 
                    </h5>
                </a>
                </div> 
                </div>
                <div class="row">
                    <div class="col-md-3">
                            <a href="">
                                <br>
                        <a  class="ads"><img src="../assets/books/phil1.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                        <h5 class="pro_desc">Enlightenment Now<br><br><p class="text-muted" >Steven Pinker</p>
                        <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span>
                        &nbsp;<span class="text-muted">(35)</span><br>
                       
                        <i class="fa fa-inr" aria-hidden="true"></i>357&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >599</p><b>40% off</b>
                            </h5>
                    </a>  
                    </div>
                    <div class="col-md-3">
                            <a href="">
                                <br>
                        <a class="ads"><img src="../assets/books/phil2.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                        <h5 class="pro_desc">You Are The Supreme Light<br><p class="text-muted" >Adi Shankara</p>
                        <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span>
                        &nbsp;<span class="text-muted">(14)</span><br>
                        <i class="fa fa-inr" aria-hidden="true"></i>282&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >399</p><b>29% off</b>
                    </h5>
                    </a>                              
                    </div>
                    <div class="col-md-3">
                            <a href="">
                                <br>
                        <a class="ads"><img src="../assets/books/phil3.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                        <h5 class="pro_desc">The Decline Of Civilization <br><br><p class="text-muted" >Ramin Johanberln</p>
                        <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span>
                        &nbsp;<span class="text-muted">(55)</span><br>
                        <i class="fa fa-inr" aria-hidden="true"></i>251&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >399</p><b>37% off</b>
                      </h5>
                    </a> 
                    </div>
                    <div class="col-md-3">
                            <a href="">
                                <br>
                        <a class="ads"><img src="../assets/books/phil4.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                        <h5 class="pro_desc">An Introducation to Indian Philosophy<p class="text-muted" >Satish Chandra</p>
                            <span class="badge badge-pill badge-success"> 3.6 <h6 class="fa fa-star checked"></h6></span>
                            &nbsp;<span class="text-muted">(1,046)</span><br>
                            <i class="fa fa-inr" aria-hidden="true"></i>177&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >295</p><b>40% off</b> 
                            </h5>
                        </a>
                        </div> 
                        </div>
    
    </div>