<div class="card-header">
    <h3>Mythological Books</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3" >
                    <a href="">
                        <br>
                <a  class="ads"><img src="../assets/books/myth1.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc"> The Crimes of Grindelwald<p class="text-muted" >G.K Rowling</p>
                <span class="badge badge-pill badge-success"> 4.7 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(695)</span><br>
            <i class="fa fa-inr" aria-hidden="true"></i>209&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >699</p><b>70% off</b> 
            </h5>
            </a>  
            </div>
            <div class="col-md-3" >
                    <a href="">
                        <br>
                <a  class="ads"><img src="../assets/books/myth2.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">Asura: Story of Ravana and His People<p class="text-muted" >Anand Neelakantan</p>
                <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(2185)</span><br>
                <i class="fa fa-inr" aria-hidden="true"></i>249&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >399</p><b>37% off</b>
                </h5>
            </a>                              
            </div>
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a  class="ads"> <img src="../assets/books/myth3.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">The Merchant of Venice<br><br><p class="text-muted" >William Shakesspeare</p>
                <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(517)</span><br>
                <i class="fa fa-inr" aria-hidden="true"></i>131&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >145</p><b>9% off</b>
               </h5>
            </a>
          </div>
            <div class="col-md-3" >
                    <a href="">
                        <br>
                <a  class="ads"> <img src="../assets/books/myth4.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">The Importance of Being Earnest <p class="text-muted" >Oscar Wilde</p>
                    <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(490)</span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>90&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >120</p><b>25% off</b> 
                    </h5>
                </a>
            </div>  
            </div> 
            <div class="row">
                <div class="col-md-3" >
                        <a href="">
                            <br>
                    <a  class="ads"><img src="../assets/books/myth1.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                    <h5 class="pro_desc"> The Crimes of Grindelwald<p class="text-muted" >G.K Rowling</p>
                    <span class="badge badge-pill badge-success"> 4.7 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(695)</span><br>
                <i class="fa fa-inr" aria-hidden="true"></i>209&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >699</p><b>70% off</b> 
                </h5>
                </a>  
                </div>
                <div class="col-md-3" >
                        <a href="">
                            <br>
                    <a  class="ads"><img src="../assets/books/myth2.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                    <h5 class="pro_desc">Asura: Story of Ravana and His People<p class="text-muted" >Anand Neelakantan</p>
                    <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(2185)</span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>249&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >399</p><b>37% off</b>
                    </h5>
                </a>                              
                </div>
                <div class="col-md-3">
                        <a href="">
                            <br>
                    <a  class="ads"> <img src="../assets/books/myth3.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                    <h5 class="pro_desc">The Merchant of Venice<br><br><p class="text-muted" >William Shakesspeare</p>
                    <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(517)</span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>131&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >145</p><b>9% off</b>
                   </h5>
                </a>
              </div>
                <div class="col-md-3" >
                        <a href="">
                            <br>
                    <a  class="ads"> <img src="../assets/books/myth4.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                    <h5 class="pro_desc">The Importance of Being Earnest <p class="text-muted" >Oscar Wilde</p>
                        <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span>
                        &nbsp;<span class="text-muted">(490)</span><br>
                        <i class="fa fa-inr" aria-hidden="true"></i>90&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >120</p><b>25% off</b> 
                        </h5>
                    </a>
                </div>  
                </div> 
    </div>
