
<section>

    
        <div class="container-fluid" style="padding: 15px 0px;">
           <div class="row no-gutters" style="height:100%">
              <div class="col-md-2">
                    <div class="card" style="width: 18rem;height:37rem;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4)">
                            <div class="card-header" style="background-color:#3f93e8">
                              Filter
                            </div>
                            <ul class="list-group list-group-flush">
                              <!-- <li class="list-group-item"><a routerLink="#" id="drop">Men</a></li>  -->
                              <!-- <li class="list-group-item"> <button class="dropdown-btn">Men
                                    <i class="fa fa-caret-down"></i>
                                  </button></li> -->
                                  <li class="list-group-item">
                                  <div>
                                        <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                         Man
                                        </div>

  <div>
     <div class="row no-gutters" style="height:100%">
      <div class="col-md-2">
              <div class="card sidenav-card position-sticky">
                      <div class="card-header">
                        Filter
                      </div>
                      <ul class="list-group list-group-flush ">
                        <!-- <li class="list-group-item"><a routerLink="#" id="drop">Men</a></li>  -->
                        <!-- <li class="list-group-item"> <button class="dropdown-btn">Men
                              <i class="fa fa-caret-down"></i>
                            </button></li> -->
                            <li class="list-group-item">
                            <div>
                                  <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                      Women
                                  </div>
                                
                                  <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                                    <a  href="#" class="list-group-item">Clothing</a>
                                    <a  href="#" class="list-group-item">Accessories</a>
                                    <a  href="#" class="list-group-item">Footwear</a>
                                  </div>
                                </div>
                              </li> 
                        <li class="list-group-item">
                              <div>
                                      <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                       Men
                                      </div>
                                    
                                      <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                                        <a  href="#" class="list-group-item">Clothing</a>
                                        <a  href="#" class="list-group-item">Accessories</a>

                                      
                                        <a  href="#" class="list-group-item">Footwear</a>
                                      </div>
                                    </div>
                        </li>
                        <li class="list-group-item">
                              <div>
                                      <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                       Kids
                                      </div>
                                    
                                      <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                                        <a  href="#" class="list-group-item">Clothing</a>
                                        <a  href="#" class="list-group-item">Accessories</a>
                                        <a  href="#" class="list-group-item">Footwear</a>
                                      </div>
                                    </div>
                        </li>
                        <li class="nav-item">
                         <div role="button"><a  href="#" class="list-group-item">
                           <span style="color:#000">Cosmetics</span></a></div>
                        </li>
                      </ul>
                    </div>
      </div>
      <div class="col-md-10">
 <!-- ------------------------WOMEN CLOTHING-----------------------        -->
          <div class="card">
              <div class="card-header">
                <div>
               <h4 style="float: left;padding-top: 5px;padding-left: 10px">Women Clothing</h4>
               <a href="#" style="float: right;padding-top: 5px;padding-right: 10px">view all</a></div>
              </div>
              <div class="card-body container-fluid">
              
              <div class="row" id="content">
                <div class="col-md-3">
                  <div align="center" class="flip-card">
                      <div class="flip-card-inner">
                          <div class="flip-card-front">
                    <a href="#">
                    <img src="https://rukminim1.flixcart.com/image/800/960/jwwffrk0/dungaree-romper/b/h/t/m-2330-buynewtrend-original-imafhhjugyrfm8hh.jpeg?q=50" class="img-grid"></a>
                 </div>
                 <div class="flip-card-back">
                    <img src="https://rukminim1.flixcart.com/image/800/960/jwwffrk0/dungaree-romper/b/h/t/s-2330-buynewtrend-original-imafhhjudhutbbh8.jpeg?q=50" class="img-grid">
                  </div>
                 </div>

                  </div>
               
                    <h5 class="pro_desc"><span class="text-muted">Filla</span><br>
                      <div class="product-des">Women Dark Blue Dungaree</div><br>
                     <span class="badge badge-pill badge-success">4.2</span>
                     <span class="text-muted review-text">1120 reviews</span><br><br>
                     <i class="fa fa-inr" aria-hidden="true"></i>
                     1200.00<span class="float-right price">10% discount</span>
                    </h5>
                  
                </div>
                <div class="col-md-3 offet-md-1">
                    <div align="center" class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                      <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/k0r15e80/kurta/k/q/w/l-kr420a-metro-fashion-original-imafkhh4yte8bdjq.jpeg?q=50" class="img-grid"></a>
                    </div>
                    <div class="flip-card-back">
                        <img src="https://rukminim1.flixcart.com/image/495/594/k0r15e80/kurta/k/q/w/l-kr420a-metro-fashion-original-imafkhh4yte8bdjq.jpeg?q=50" class="img-grid">
                      </div>
                     </div>

                      </div>
                      <h5 class="pro_desc"><span class="text-muted">Fashion Ritmo</span><br>
                        <div class="product-des">Embroidered Bollywood Maxi Dress</div><br>
                       <span class="badge badge-pill badge-success">4.9</span>
                       <span class="text-muted review-text">3216 reviews</span><br><br>
                       <i class="fa fa-inr" aria-hidden="true"></i>
                       1500.00<span class="float-right price">30% discount</span>
                      </h5>
                </div>
                <div class="col-md-3 offet-md-1">
                    <div align="center" class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                      <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jxkpx8w0/shirt/q/c/a/l-42tk1033a-selvia-original-imafgyfezzjc7hms.jpeg?q=50" class="img-grid"></a>
                    </div>
                    <div class="flip-card-back">
                        <img src="https://rukminim1.flixcart.com/image/800/960/jxkpx8w0/shirt/q/c/a/l-42tk1033a-selvia-original-imafgyfed4mynyfy.jpeg?q=50" class="img-grid">
                      </div>
                     </div>

                      </div>
                      <h5 class="pro_desc"><span class="text-muted">Alfa Fashion</span><br>
                        <div class="product-des">Casual Checkered Shirt</div><br>
                       <span class="badge badge-pill badge-success">4.7</span>
                       <span class="text-muted review-text">280 reviews</span><br><br>
                       <i class="fa fa-inr" aria-hidden="true"></i>
                       750.00<span class="float-right price">5% discount</span>
                      </h5>         
                </div>
                <div class="col-md-3 offet-md-1">
                    <div align="center" class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                      <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/k0r15e80/kurta/s/y/z/4xl-pk1672-la-ahika-original-imafkh9uwgsawq44.jpeg?q=50" class="img-grid"></a>
                    </div>
                    <div class="flip-card-back">
                        <img src="https://rukminim1.flixcart.com/image/800/960/k0r15e80/kurta/s/y/z/4xl-pk1672-la-ahika-original-imafkh9uuc8dsyuc.jpeg?q=50" class="img-grid">
                      </div>
                     </div>

                      </div>
                      <h5 class="pro_desc"><span class="text-muted">Ahika</span><br>
                        <div class="product-des">Women Printed Kurta</div><br>
                       <span class="badge badge-pill badge-success">4.3</span>
                       <span class="text-muted review-text">112 reviews</span><br><br>
                       <i class="fa fa-inr" aria-hidden="true"></i>
                       650.00<span class="float-right price">10% discount</span>
                      </h5>         
                </div>
              </div>
              </div>
          </div>
          <!-- ---------------------MEN CLOTHING--------------------------- -->
          <div class="card">
              <div class="card-header">
                <div>
               <h4 style="float: left;padding-top: 5px;padding-left: 10px">Men Clothing</h4>
               <a href="#" style="float: right;padding-top: 5px;padding-right: 10px">view all</a></div>
              </div>
              <div class="card-body container-fluid">
              
              <div class="row" id="content">
                <div class="col-md-3">
                    <div align="center" class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                    <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/k02qnww0/t-shirt/t/r/n/m-582425-puma-original-imafjy3a5sw25tuu.jpeg?q=50" class="img-grid"></a>
                  </div>
                  <div class="flip-card-back">
                      <img src="https://rukminim1.flixcart.com/image/800/960/k02qnww0/t-shirt/t/r/n/m-582425-puma-original-imafjy3a9gzpxhz7.jpeg?q=50" class="img-grid">
                    </div>
                   </div>

                    </div>
                    <h5 class="pro_desc"><span class="text-muted">Puma</span><br>
                      <div class="product-des">Solid Men Round Neck T-shirt</div><br>
                     <span class="badge badge-pill badge-success">4.8</span>
                     <span class="text-muted review-text">560 reviews</span><br><br>
                     <i class="fa fa-inr" aria-hidden="true"></i>
                     550.00<span class="float-right price">40% discount</span>
                    </h5>
                </div>
                <div class="col-md-3 offet-md-1">
                    <div align="center" class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                      <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jvy4vbk0/shirt/r/8/f/m-hlsh009224-navy-blue-lt-blue-highlander-original-imafgqhefygfex75.jpeg?q=50" class="img-grid"></a>
                    </div>
                    <div class="flip-card-back">
                        <img src="https://rukminim1.flixcart.com/image/800/960/jvy4vbk0/shirt/r/8/f/m-hlsh009224-navy-blue-lt-blue-highlander-original-imafgqhe47nsa38c.jpeg?q=50" class="img-grid">
                      </div>
                     </div>

                      </div>
                      <h5 class="pro_desc"><span class="text-muted">Highlander</span><br>
                        <div class="product-des">Men Checked Casual Shirt</div><br>
                       <span class="badge badge-pill badge-success">4.0</span>
                       <span class="text-muted review-text">980 reviews</span><br><br>
                       <i class="fa fa-inr" aria-hidden="true"></i>
                       950.00><span class="float-right price">20% discount</span>
                      </h5>
                </div>
                <div class="col-md-3 offet-md-1">
                    <div align="center" class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                      <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jyt0knk0/blazer/p/k/x/48-lpbzmslh148927-louis-philippe-original-imafgvaxh4fkrfdw.jpeg?q=50" class="img-grid"></a>
                    </div>
                    <div class="flip-card-back">
                        <img src="https://rukminim1.flixcart.com/image/800/960/jyt0knk0/blazer/p/k/x/48-lpbzmslh148927-louis-philippe-original-imafgvaw2nbu433t.jpeg?q=50" class="img-grid">
                      </div>
                     </div>

                      </div>
                      <h5 class="pro_desc"><span class="text-muted">Louis Philippe</span><br>
                        <div class="product-des">Checkered Blazer</div><br>
                       <span class="badge badge-pill badge-success">4.2</span>
                       <span class="text-muted review-text">310 review</span><br><br>
                       <i class="fa fa-inr" aria-hidden="true"></i>
                       1980.00<span class="float-right price">5% discount</span>
                      </h5>         
                </div>
                <div class="col-md-3 offet-md-1">
                    <div align="center" class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                      <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jw6pifk0/t-shirt/e/u/d/xl-62rwn-lewel-original-imafgxd7sg3ev8g2.jpeg?q=50" class="img-grid"></a>
                    </div>
                    <div class="flip-card-back">
                        <img src="https://rukminim1.flixcart.com/image/800/960/jp02t8w0/t-shirt/g/t/z/s-25rwn-lewel-original-imafbbjxfzmfhgkq.jpeg?q=50" class="img-grid">
                      </div>
                     </div>

                      </div>
                      <h5 class="pro_desc"><span class="text-muted">LEWEL</span><br>
                        <div class="product-des">Color Block Man Hoodie</div><br>
                       <span class="badge badge-pill badge-success">3.9</span>
                       <span class="text-muted review-text">110 reviews</span><br><br>
                       <i class="fa fa-inr" aria-hidden="true"></i>
                       650.00<span class="float-right price">25% discount</span>
                      </h5>         
                </div>
              </div>
              </div>
          </div>
<!-- ---------------------WOMEN ACCESSORIES--------------------------- -->
          <div class="card">
              <div class="card-header">
                <div>
               <h4 style="float: left;padding-top: 5px;padding-left: 10px">Women Accessories</h4>
               <a href="#" style="float: right;padding-top: 5px;padding-right: 10px">view all</a></div>
              </div>
              <div class="card-body container-fluid">
              
              <div class="row" id="content">
                <div class="col-md-3">
                    <div align="center" class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                    <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jewellery-set/h/c/g/zpfk4011-zaveri-original-imaehgkr248ynxtr.jpeg?q=50" class="img-grid"></a>
                  </div>
                  <div class="flip-card-back">
                      <img src="https://rukminim1.flixcart.com/image/800/960/jewellery-set/k/j/8/zpfk2656-zaveri-pearls-original-imaehgkrscuyba9w.jpeg?q=50" class="img-grid">
                    </div>
                   </div>

                    </div>
                    <h5 class="pro_desc"><span class="text-muted">Zaveri Pearls</span><br>
                      <div class="product-des">Zinc Jwell Set</div><br>
                     <span class="badge badge-pill badge-success">4.2</span>
                     <span class="text-muted review-text">1302 reviews</span><br><br>
                     <i class="fa fa-inr" aria-hidden="true"></i>
                     1200.00<span class="float-right price">20% discount</span>
                    </h5>
                </div>
                <div class="col-md-3 offet-md-1">
                    <div align="center" class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                      <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jvmpci80/hand-messenger-bag/g/y/y/0-st-004-hand-held-bag-shining-star-original-imafg25y8kfzwc49.jpeg?q=50" class="img-grid"></a>
                    </div>
                    <div class="flip-card-back">
                        <img src="https://rukminim1.flixcart.com/image/800/960/jvmpci80/hand-messenger-bag/g/y/y/0-st-004-hand-held-bag-shining-star-original-imafg25fe3ztwkhd.jpeg?q=50" class="img-grid">
                      </div>
                     </div>

                      </div>
                      <h5 class="pro_desc"><span class="text-muted">Shining Star</span><br>
                        <div class="product-des">Women Blue Handheld Bag</div><br>
                       <span class="badge badge-pill badge-success">3.8</span>
                       <span class="text-muted review-text">330 reviews</span><br><br>
                       <i class="fa fa-inr" aria-hidden="true"></i>
                       620.00<span class="float-right price">10% discount</span>
                      </h5>
                </div>
                <div class="col-md-3 offet-md-1">
                    <div align="center" class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                      <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/jmthle80/hair-dryer/y/t/e/havells-compact-hair-dryer-hd3151-original-imaeq2z9by7qbfqe.jpeg?q=70" class="img-grid"></a>
                    </div>
                    <div class="flip-card-back">
                        <img src="https://rukminim1.flixcart.com/image/416/416/jmthle80/hair-dryer/y/t/e/havells-compact-hair-dryer-hd3151-original-imaf9d87nfxqhgf8.jpeg?q=70" class="img-grid">
                      </div>
                     </div>

                      </div>
                      <h5 class="pro_desc"><span class="text-muted">Phillips</span><br>
                        <div class="product-des">Compact Hair Dryer</div><br>
                       <span class="badge badge-pill badge-success">4.4</span>
                       <span class="text-muted review-text">5430 reviews</span><br><br>
                       <i class="fa fa-inr" aria-hidden="true"></i>
                       850.00<span class="float-right price">30% discount</span>
                      </h5>         
                </div>
                <div class="col-md-3 offet-md-1">
                    <div align="center" class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                      <a href="#">
                      <img src="https://rukminim1.flixcart.com/image/495/594/k01b8280/belt/e/p/4/26-ben11lightgrey-ben11lightgrey-belt-winsome-deal-original-imafhthm4hebyxyx.jpeg?q=50" class="img-grid"></a>
                    </div>
                    <div class="flip-card-back">
                        <img src="https://rukminim1.flixcart.com/image/800/960/k01b8280/belt/e/p/4/26-ben11lightgrey-ben11lightgrey-belt-winsome-deal-original-imafhthmyrbfst42.jpeg?q=50" class="img-grid">
                      </div>
                     </div>

                      </div>
                      <h5 class="pro_desc"><span class="text-muted">Winsome Deal</span><br>
                        <div class="product-des">Women Casual Grey Belt</div><br>
                       <span class="badge badge-pill badge-success">3.2</span>
                       <span class="text-muted review-text">197 reviews</span><br><br>
                       <i class="fa fa-inr" aria-hidden="true"></i>
                       290.00<span class="float-right price">5% discount</span>
                      </h5>         
                </div>
              </div>
              </div>
          </div>
<!-- ---------------------KIDS CLOTHING--------------------------- -->
          <div class="card">
              <div class="card-header">
                <div>
               <h4 style="float: left;padding-top: 5px;padding-left: 10px">Kids Clothing</h4>
               <a href="#" style="float: right;padding-top: 5px;padding-right: 10px">view all</a></div>
              </div>
              <div class="card-body container-fluid">
              
              <div class="row" id="content">
                <div class="col-md-3">
                    <div align="center" class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                    <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/j51cbrk0/kids-dress/k/u/c/0-6-months-c-204-black-black-aarika-original-imaecyhfed9qbzmh.jpeg?q=50" class="img-grid"></a>
                  </div>
                  <div class="flip-card-back">
                      <img src="https://rukminim1.flixcart.com/image/800/960/j51cbrk0/kids-dress/k/u/c/0-6-months-c-204-black-black-aarika-original-imaecyhea3pmjfyt.jpeg?q=50" class="img-grid">
                    </div>
                   </div>

                    </div>
                    <h5 class="pro_desc"><span class="text-muted">Filla</span><br>
                      <div class="product-des">Girls Midi Frock</div><br>
                     <span class="badge badge-pill badge-success">4.2</span>
                     <span class="text-muted review-text">1120 reviews</span><br><br>
                     <i class="fa fa-inr" aria-hidden="true"></i>
                    1200.00<span class="float-right price">10% discount</span>
                    </h5>
                </div>
                <div class="col-md-3 offet-md-1">
                    <div align="center" class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                      <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jxp08sw0/bodysuit-sleepsuit/9/v/7/0-3-6-9-months-unisex-kids-cotton-tinchuk-n-a-original-imafhf6fgqe9bzw6.jpeg?q=50" class="img-grid"></a>
                    </div>
                    <div class="flip-card-back">
                        <img src="https://rukminim1.flixcart.com/image/416/416/jxp08sw0/bodysuit-sleepsuit/9/f/e/n-a-3-6-months-unisex-kids-cotton-multi-color-romper-body-suite-original-imafg2awsdgtvyph.jpeg?q=70" class="img-grid">
                      </div>
                     </div>

                      </div>
                      <h5 class="pro_desc"><span class="text-muted">Sevnix</span><br>
                        <div class="product-des">Kids Body Suits</div><br>
                       <span class="badge badge-pill badge-success">4.0</span>
                       <span class="text-muted review-text">390 reviews</span><br><br>
                       <i class="fa fa-inr" aria-hidden="true"></i>
                       450.00<span class="float-right price">15% discount</span>
                      </h5>
                </div>
                <div class="col-md-3 offet-md-1">
                    <div align="center" class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                      <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/k12go7k0/bodysuit-sleepsuit/h/g/z/6-6-12-months-44400838400-gap-12-original-imafkhzerb4byhqx.jpeg?q=50" class="img-grid"></a>
                    </div>
                    <div class="flip-card-back">
                        <img src="https://rukminim1.flixcart.com/image/495/594/k12go7k0/kids-t-shirt/z/z/h/8-9-years-mcgbaw19tp015b-barbie-original-imafkq7jsrgvdvrg.jpeg?q=50" class="img-grid">
                      </div>
                     </div>

                      </div>
                      <h5 class="pro_desc"><span class="text-muted">Nitara</span><br>
                        <div class="product-des">Girls Denim Top</div><br>
                       <span class="badge badge-pill badge-success">4.7</span>
                       <span class="text-muted review-text">280 reviews</span><br><br>
                       <i class="fa fa-inr" aria-hidden="true"></i>
                       550.00<span class="float-right price">5% discount</span>
                      </h5>         
                </div>
                <div class="col-md-3 offet-md-1">
                    <div align="center" class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                      <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jm0wscw0/bodysuit-sleepsuit/8/y/r/18-12-18-months-inf-5pck-bdyst-mnd-1-gkidz-12-original-imaf7jpqvdtezcha.jpeg?q=50" class="img-grid"></a>
                    </div>
                    <div class="flip-card-back">
                        <img src="https://rukminim1.flixcart.com/image/416/416/jm0wscw0/bodysuit-sleepsuit/8/y/r/18-12-18-months-inf-5pck-bdyst-mnd-1-gkidz-12-original-imae5hzt43atbhqt.jpeg?q=70" class="img-grid">
                      </div>
                     </div>

                      </div>
                      <h5 class="pro_desc"><span class="text-muted">SBN BLUE</span><br>
                        <div class="product-des">Combination Baby Body Suit</div><br>
                       <span class="badge badge-pill badge-success">4.1</span>
                       <span class="text-muted review-text">788 reviews</span><br><br>
                       <i class="fa fa-inr" aria-hidden="true"></i>
                       950.00<span class="float-right price">15% discount</span>
                      </h5>         
                </div>
              </div>
              </div>
          </div>
  <!-- ---------------------COSMETICS--------------------------- -->
  <div class="card">
      <div class="card-header">
        <div>
       <h4 style="float: left;padding-top: 5px;padding-left: 10px">Cosmetics</h4>
       <a href="#" style="float: right;padding-top: 5px;padding-right: 10px">view all</a></div>
      </div>
      <div class="card-body container-fluid">
      
      <div class="row" id="content">
        <div class="col-md-3">
            <div align="center" class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
            <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/jq4353k0/toner/6/9/f/120-bio-cucumber-pore-tightening-toner-biotique-original-imafc79rymdn3rfc.jpeg?q=70" class="img-grid"></a>
          </div>
          <div class="flip-card-back">
              <img src="https://rukminim1.flixcart.com/image/416/416/jq4353k0/toner/6/9/f/120-bio-cucumber-pore-tightening-toner-biotique-original-imafc79rf9gyqjvb.jpeg?q=70" class="img-grid">
            </div>
           </div>

            </div>
            <h5 class="pro_desc"><span class="text-muted">Biotic</span><br>
              <div class="product-des">Biotic Bio-Cucumber Toner</div><br>
             <span class="badge badge-pill badge-success">4.9</span>
             <span class="text-muted review-text">2120 reviews</span><br><br>
             <i class="fa fa-inr" aria-hidden="true"></i>
             120.00<span class="float-right price">5% discount</span>
            </h5>
        </div>
        <div class="col-md-3 offet-md-1">
            <div align="center" class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
              <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/jl5h3m80/foundation/a/u/g/30-face-magic-souffle-lakme-original-imaf8cjfvzzs3ggn.jpeg?q=70" class="img-grid"></a>
            </div>
            <div class="flip-card-back">
                <img src="https://rukminim1.flixcart.com/image/416/416/jvzkb680/foundation/a/u/g/30-face-magic-souffle-lakme-original-imafgrqanhtcmfmz.jpeg?q=70" class="img-grid">
              </div>
             </div>

              </div>
              <h5 class="pro_desc"><span class="text-muted">Lakme</span><br>
                <div class="product-des">Lakme Face Magic Foundation</div><br>
               <span class="badge badge-pill badge-success">4.9</span>
               <span class="text-muted review-text">3216 reviews</span><br><br>
               <i class="fa fa-inr" aria-hidden="true"></i>
               500.00<span class="float-right price">30% discount</span>
              </h5>
        </div>
        <div class="col-md-3 offet-md-1">
            <div align="center" class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
              <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/jsxjekw0/deodorant/5/g/q/300-fresh-power-charge-deodorant-body-spray-nivea-men-men-original-imafeemmcyznrhr9.jpeg?q=70" class="img-grid"></a>
            </div>
            <div class="flip-card-back">
                <img src="https://rukminim1.flixcart.com/image/612/612/jsxjekw0/deodorant/5/g/q/300-fresh-power-charge-deodorant-body-spray-nivea-men-men-original-imafeemmcyznrhr9.jpeg?q=70" class="img-grid">
              </div>
             </div>

              </div>
              <h5 class="pro_desc"><span class="text-muted">Nivea</span><br>
                <div class="product-des">Nivea Men Deodorant Spray</div><br>
               <span class="badge badge-pill badge-success">4.7</span>
               <span class="text-muted review-text">280 reviews</span><br><br>
               <i class="fa fa-inr" aria-hidden="true"></i>
               550.00<span class="float-right price">5% discount</span>
              </h5>         
        </div>
        <div class="col-md-3 offet-md-1">
            <div align="center" class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
              <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/jr6o13k0/hair-treatment/x/v/e/100-hair-growth-vitalizer-ustraa-original-imafdfefujpfmr8x.jpeg?q=70" class="img-grid"></a>
            </div>
            <div class="flip-card-back">
                <img src="https://rukminim1.flixcart.com/image/416/416/jialea80/hair-styling/f/j/n/cream-100-hair-cream-for-men-daily-use-ustraa-original-imaf649mqgtc74vc.jpeg?q=70" class="img-grid">
              </div>
             </div>

              </div>
              <h5 class="pro_desc"><span class="text-muted">Ustra</span><br>
                <div class="product-des">Ustra Hair Growth Serum</div><br>
               <span class="badge badge-pill badge-success">4.3</span>
               <span class="text-muted review-text">112 reviews</span><br><br>
               <i class="fa fa-inr" aria-hidden="true"></i>
               650.00<span class="float-right price">10% discount</span>
              </h5>         
        </div>
      </div>
      </div>
  </div>
<!-- ---------------------MEN ACCESSORIES--------------------------- -->
<div class="card">
<div class="card-header">
  <div>
 <h4 style="float: left;padding-top: 5px;padding-left: 10px">Men Accessories</h4>
 <a href="#" style="float: right;padding-top: 5px;padding-right: 10px">view all</a></div>
</div>
<div class="card-body container-fluid">

<div class="row" id="content">
  <div class="col-md-3">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
      <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/k1zbssw0/shaving-razor/h/f/f/gear-5-blade-razor-with-contoured-rubber-handle-blue-1-ustraa-original-imafhfjgm7kwqzfh.jpeg?q=70" class="img-grid"></a>
    </div>
    <div class="flip-card-back">
        <img src="https://rukminim1.flixcart.com/image/416/416/jz1l7rk0/shaving-razor/z/b/q/ace-ii-2-blade-shaving-razor-for-men-1-razor-handle-20-original-imafj5esggpnhfhn.jpeg?q=70" class="img-grid">
      </div>
     </div>

      </div>
      <h5 class="pro_desc"><span class="text-muted">Ustraa</span><br>
        <div class="product-des">Ustraa Gear 5 Blade Razor with Rubber Handler</div><br>
       <span class="badge badge-pill badge-success">4.2</span>
       <span class="text-muted review-text">1120 reviews</span><br><br>
       <i class="fa fa-inr" aria-hidden="true"></i>
       400.00<span class="float-right price">10% discount</span>
      </h5>
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jgo0ccw0/sunglass/g/t/e/m-gn11096-gun-gd-brn-gansta-original-imaf4uwfman53wfw.jpeg?q=50" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/800/960/jgo0ccw0/sunglass/g/t/e/m-gn11096-gun-gd-brn-gansta-original-imaf4uwffhuxhnzg.jpeg?q=50" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">Gansta</span><br>
          <div class="product-des">Gansta UV Protection Sunglasses</div><br>
         <span class="badge badge-pill badge-success">4.9</span>
         <span class="text-muted review-text">3216 reviews</span><br><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         900.00<span class="float-right price">30% discount</span>
        </h5>
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/j79czgw0/wallet-card-wallet/2/b/n/swp15072-swp15072-wallet-hidelink-original-imaexj4zpmz646vj.jpeg?q=50" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/800/960/j7m7y4w0/wallet-card-wallet/k/b/5/swp115072-swp115072-wallet-hidelink-original-imaevzy7ggc3gnkw.jpeg?q=50" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">WildHorn</span><br>
          <div class="product-des">Men Casual, Formal Wallet</div><br>
         <span class="badge badge-pill badge-success">4.7</span>
         <span class="text-muted review-text">280 reviews</span><br><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         950.00<span class="float-right price">5% discount</span>
        </h5>         
  </div>
  <div class="col-md-3 offet-md-1">
      <div align="center" class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/k0wqwsw0/belt/y/f/g/30-two-in-one-belt-black-and-brown-rstx-04-t-reversible-pu-original-imafkhr7st6sy85h.jpeg?q=50" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/800/960/jsge4cw0/belt/s/g/w/30-men-s-pu-leather-belt-combo-pack-of-2-tp-064-combo-belt-original-imafdzspgwuf5zhc.jpeg?q=50" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">ZARA</span><br>
          <div class="product-des">Men Casual, Party Black Texas Leatherite Reversible Belt</div><br>
         <span class="badge badge-pill badge-success">4.3</span>
         <span class="text-muted review-text">180 reviews</span><br><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         350.00<span class="float-right price">50% discount</span>
        </h5>         
  </div>
</div>
</div>
</div>
<!-- ---------------------KIDS ACCESSORIES--------------------------- -->
<div class="card">
  <div class="card-header">
    <div>
   <h4 style="float: left;padding-top: 5px;padding-left: 10px">Kids Accessories</h4>
   <a href="#" style="float: right;padding-top: 5px;padding-right: 10px">view all</a></div>
  </div>
  <div class="card-body container-fluid">
  
  <div class="row" id="content">
    <div class="col-md-3">
        <div align="center" class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
        <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/bath-toy/x/b/x/jo-baby-swimming-13-pcs-sounding-original-imaem3htbyme7guz.jpeg?q=70" class="img-grid"></a>
      </div>
      <div class="flip-card-back">
          <img src="https://rukminim1.flixcart.com/image/416/416/jmjhifk0/bath-toy/k/r/d/animal-shape-soft-13-pcs-chu-chu-toys-for-baby-kids-bath-akshit-original-imaet2y4rhrejyyx.jpeg?q=70" class="img-grid">
        </div>
       </div>

        </div>
        <h5 class="pro_desc"><span class="text-muted">Jo Baby</span><br>
          <div class="product-des">Jo Baby Swimming 13 Bath-Toy</div><br>
         <span class="badge badge-pill badge-success">4.2</span>
         <span class="text-muted review-text">1120 reviews</span><br><br>
         <i class="fa fa-inr" aria-hidden="true"></i>
         120.00<span class="float-right price">10% discount</span>
        </h5>
    </div>
    <div class="col-md-3 offet-md-1">
        <div align="center" class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
          <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/sipper-cup/e/s/v/200-toddler-spout-cup-with-twin-handle-scf551-03-philips-avent-original-imaequdhsmy2h7en.jpeg?q=70" class="img-grid"></a>
        </div>
        <div class="flip-card-back">
            <img src="https://rukminim1.flixcart.com/image/416/416/sipper-cup/e/s/v/200-toddler-spout-cup-with-twin-handle-scf551-03-philips-avent-original-imaequdhn88mzs7b.jpeg?q=70" class="img-grid">
          </div>
         </div>

          </div>
          <h5 class="pro_desc"><span class="text-muted">Phillip</span><br>
            <div class="product-des">Phillip Sprout Cup with Twin Handler</div><br>
           <span class="badge badge-pill badge-success">4.5</span>
           <span class="text-muted review-text">329 reviews</span><br><br>
           <i class="fa fa-inr" aria-hidden="true"></i>
           200.00<span class="float-right price">70% discount</span>
          </h5>
    </div>
    <div class="col-md-3 offet-md-1">
        <div align="center" class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
          <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/jly1wnk0/bib/h/z/h/baby-bibs-bibprntmom-miss-chief-original-imaf8ytwn6fnafxy.jpeg?q=70" class="img-grid"></a>
        </div>
        <div class="flip-card-back">
            <img src="https://rukminim1.flixcart.com/image/416/416/jly1wnk0/bib/h/z/h/baby-bibs-bibprntmom-miss-chief-original-imaf8ytwaegrgsat.jpeg?q=70" class="img-grid">
          </div>
         </div>

          </div>
          <h5 class="pro_desc"><span class="text-muted">Miss Chief</span><br>
            <div class="product-des">Miss Chief Bibs- 4Pc set- Print Mom (Assorted)</div><br>
           <span class="badge badge-pill badge-success">4.7</span>
           <span class="text-muted review-text">280 reviews</span><br><br>
           <i class="fa fa-inr" aria-hidden="true"></i>
           150.00<span class="float-right price">15% discount</span>
          </h5>         
    </div>
    <div class="col-md-3 offet-md-1">
        <div align="center" class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
          <a href="#"><img src="https://rukminim1.flixcart.com/image/612/612/jrs3mvk0/bib/5/5/3/waterproof-super-soft-cotton-daily-use-elegant-and-stylish-original-imafdg2r44jcszxm.jpeg?q=70" class="img-grid"></a>
        </div>
        <div class="flip-card-back">
            <img src="https://rukminim1.flixcart.com/image/416/416/jm9hfgw0/bib/f/w/9/fast-dry-waterproof-super-soft-cotton-daily-use-elegant-and-original-imaf97qytvsc8sba.jpeg?q=70" class="img-grid">
          </div>
         </div>

          </div>
          <h5 class="pro_desc"><span class="text-muted">Cutiepie Collections</span><br>
            <div class="product-des">Cutiepie Collections Waterproof,Stylish Velcro bibs for baby-Pack of 3</div><br>
           <span class="badge badge-pill badge-success">4.3</span>
           <span class="text-muted review-text">112 reviews</span><br><br>
           <i class="fa fa-inr" aria-hidden="true"></i>
           650.00<span class="float-right price">10% discount</span>
          </h5>         
    </div>
  </div>
  </div>
</div>
<!-- ---------------------MEN FOOTWEAR--------------------------- -->
<div class="card">
    <div class="card-header">
      <div>
     <h4 style="float: left;padding-top: 5px;padding-left: 10px">Men Footwear</h4>
     <a href="#" style="float: right;padding-top: 5px;padding-right: 10px">view all</a></div>
    </div>
    <div class="card-body container-fluid">
    
    <div class="row" id="content">
      <div class="col-md-3">
          <div align="center" class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
          <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jyxaw7k0/shoe/u/a/h/dg-317-black-spider-sports-9-digitrendzz-black-original-imafehydfrs5gqsr.jpeg?q=50" class="img-grid"></a>
        </div>
        <div class="flip-card-back">
            <img src="https://rukminim1.flixcart.com/image/800/960/jyxaw7k0/shoe/u/a/h/dg-317-black-spider-sports-9-digitrendzz-black-original-imafehydgzjghamx.jpeg?q=50" class="img-grid">
          </div>
         </div>

          </div>
          <h5 class="pro_desc"><span class="text-muted">MileWalker</span><br>
            <div class="product-des">MileWalker Running Shoe</div><br>
           <span class="badge badge-pill badge-success">4.2</span>
           <span class="text-muted review-text">1120 reviews</span><br><br>
           <i class="fa fa-inr" aria-hidden="true"></i>
           1050.00<span class="float-right price">10% discount</span>
          </h5>
      </div>
      <div class="col-md-3 offet-md-1">
          <div align="center" class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
            <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jl41nrk0/shoe/v/y/z/ca4273-9-kraasa-brown-original-imaf8bhzqg4ysbs3.jpeg?q=50" class="img-grid"></a>
          </div>
          <div class="flip-card-back">
              <img src="https://rukminim1.flixcart.com/image/800/960/jl41nrk0/shoe/v/y/z/ca4273-9-kraasa-brown-original-imaf8bhykqpun6b4.jpeg?q=50" class="img-grid">
            </div>
           </div>

            </div>
            <h5 class="pro_desc"><span class="text-muted">Breil By Fort Collins</span><br>
              <div class="product-des">Climber Boot foer Men</div><br>
             <span class="badge badge-pill badge-success">4.9</span>
             <span class="text-muted review-text">3216 reviews</span><br><br>
             <i class="fa fa-inr" aria-hidden="true"></i>
             900.00<span class="float-right price">30% discount</span>
            </h5>
      </div>
      <div class="col-md-3 offet-md-1">
          <div align="center" class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
            <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jpbic280/sandal/z/x/c/combo-857-874-9-bersache-multicolor-original-imafbejf9sgwmzgp.jpeg?q=50" class="img-grid"></a>
          </div>
          <div class="flip-card-back">
              <img src="https://rukminim1.flixcart.com/image/800/960/jsm3vrk0/sandal/g/5/g/combo-1129-857-7-bersache-multicolor-original-imafbdbxgjhhzbgu.jpeg?q=50" class="img-grid">
            </div>
           </div>

            </div>
            <h5 class="pro_desc"><span class="text-muted">Bersache</span><br>
              <div class="product-des">Bersache Men Grey Blue Footwear</div><br>
             <span class="badge badge-pill badge-success">4.7</span>
             <span class="text-muted review-text">280 reviews</span><br><br>
             <i class="fa fa-inr" aria-hidden="true"></i>
             650.00<span class="float-right price">5% discount</span>
            </h5>         
      </div>
      <div class="col-md-3 offet-md-1">
          <div align="center" class="flip-card">
              <div class="flip-card-inner">
                  <div class="flip-card-front">
            <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jlfh6kw0/slipper-flip-flop/u/c/e/e0321-sku-6-10-10-emosis-blue-original-imaf8k4p82vxadm5.jpeg?q=50" class="img-grid"></a>
          </div>
          <div class="flip-card-back">
              <img src="https://rukminim1.flixcart.com/image/800/960/jzrb53k0/slipper-flip-flop/n/k/n/f1-pubg-dotted-black-7-7-des-tongs-black-original-imafj5a96amgy2he.jpeg?q=50" class="img-grid">
            </div>
           </div>

            </div>
            <h5 class="pro_desc"><span class="text-muted">Emosis</span><br>
              <div class="product-des">Emosis Slider Slides</div><br>
             <span class="badge badge-pill badge-success">4.3</span>
             <span class="text-muted review-text">112 reviews</span><br><br>
             <i class="fa fa-inr" aria-hidden="true"></i>
             350.00<span class="float-right price">10% discount</span>
            </h5>         
      </div>
    </div>
    </div>
</div>
  <!-- ---------------------WOMEN FOOTWEAR--------------------------- -->
  <div class="card">
      <div class="card-header">
        <div>
       <h4 style="float: left;padding-top: 5px;padding-left: 10px">Women Footwear</h4>
       <a href="#" style="float: right;padding-top: 5px;padding-right: 10px">view all</a></div>
      </div>
      <div class="card-body container-fluid">
      
      <div class="row" id="content">
        <div class="col-md-3">
            <div align="center" class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
            <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jtaed8w0/sandal/a/c/a/ans05-ans08-sndl-001-4-beonza-multicolor-original-imafe945asvzyhap.jpeg?q=50" class="img-grid"></a>
          </div>
          <div class="flip-card-back">
              <img src="https://rukminim1.flixcart.com/image/800/960/jtaed8w0/sandal/a/c/a/ans05-ans08-sndl-001-4-beonza-multicolor-original-imafdvwpdgf3mceq.jpeg?q=50" class="img-grid">
            </div>
           </div>

            </div>
            <h5 class="pro_desc"><span class="text-muted">Beonza</span><br>
              <div class="product-des">Beonza Combination Footwear</div><br>
             <span class="badge badge-pill badge-success">4.2</span>
             <span class="text-muted review-text">1120 reviews</span><br><br>
             <i class="fa fa-inr" aria-hidden="true"></i>
             800.00<span class="float-right price">10% discount</span>
            </h5>
        </div>
        <div class="col-md-3 offet-md-1">
            <div align="center" class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
              <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/j6v2ky80/sandal/h/g/3/w8-35-jade-beige-original-imaetg6ducqtpwbr.jpeg?q=50" class="img-grid"></a>
            </div>
            <div class="flip-card-back">
                <img src="https://rukminim1.flixcart.com/image/800/960/j6v2ky80/sandal/h/g/3/w8-35-jade-beige-original-imaetg6dd6bxawsh.jpeg?q=50" class="img-grid">
              </div>
             </div>

              </div>
              <h5 class="pro_desc"><span class="text-muted">JADE</span><br>
                <div class="product-des">Women BeiZe Heel Sandle</div><br>
               <span class="badge badge-pill badge-success">4.9</span>
               <span class="text-muted review-text">3216 reviews</span><br><br>
               <i class="fa fa-inr" aria-hidden="true"></i>
               600.00<span class="float-right price">30% discount</span>
              </h5>
        </div>
        <div class="col-md-3 offet-md-1">
            <div align="center" class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
              <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jy65j0w0/shoe/n/z/a/370791-5-puma-sweet-lavender-black-original-imafggu4fmwgfzuz.jpeg?q=50" class="img-grid"></a>
            </div>
            <div class="flip-card-back">
                <img src="https://rukminim1.flixcart.com/image/800/960/jy65j0w0/shoe/n/z/a/370791-5-puma-sweet-lavender-black-original-imafggu4gq6mab2a.jpeg?q=50" class="img-grid">
              </div>
             </div>

              </div>
              <h5 class="pro_desc"><span class="text-muted">Puma</span><br>
                <div class="product-des">Puma Zod Runner Sports Shoe</div><br>
               <span class="badge badge-pill badge-success">4.7</span>
               <span class="text-muted review-text">2805 reviews</span><br><br>
               <i class="fa fa-inr" aria-hidden="true"></i>
               1770.00<span class="float-right price">15% discount</span>
              </h5>         
        </div>
        <div class="col-md-3 offet-md-1">
            <div align="center" class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
              <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jx3kn0w0/sandal/v/u/g/bt-1011-brwn-36-shoenstring-brown-original-imafebzt8yhqhrgd.jpeg?q=50" class="img-grid"></a>
            </div>
            <div class="flip-card-back">
                <img src="https://rukminim1.flixcart.com/image/800/960/jx3kn0w0/sandal/v/u/g/bt-1011-brwn-39-shoenstring-brown-original-imafebztb86jczqy.jpeg?q=50" class="img-grid">
              </div>
             </div>

              </div>
              <h5 class="pro_desc"><span class="text-muted">Bootco</span><br>
                <div class="product-des">Women Brown Flat</div><br>
               <span class="badge badge-pill badge-success">4.3</span>
               <span class="text-muted review">112 reviews</span><br><br>
               <i class="fa fa-inr" aria-hidden="true"></i>
               450.00<span class="float-right price">10% discount</span>
              </h5>         
        </div>
      </div>
      </div>
  </div>
    <!-- ---------------------KIDS FOOTWEAR--------------------------- -->
    <div class="card">
        <div class="card-header">
          <div>
         <h4 style="float: left;padding-top: 5px;padding-left: 10px">Kids Footwear</h4>
         <a href="#" style="float: right;padding-top: 5px;padding-right: 10px">view all</a></div>
        </div>
        <div class="card-body container-fluid">
        
        <div class="row" id="content">
          <div class="col-md-3">
              <div align="center" class="flip-card">
                  <div class="flip-card-inner">
                      <div class="flip-card-front">
              <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jhcatu80/bootie/n/d/5/0-12-sk126andsk129-infantboties-neska-moda-12-original-imaf5dzkx3ufkymh.jpeg?q=50" class="img-grid"></a>
            </div>
            <div class="flip-card-back">
                <img src="https://rukminim1.flixcart.com/image/416/416/jlb6v0w0/bootie/z/3/p/0-12-infantboties-neska-moda-12-original-imaf8gxneffva6ag.jpeg?q=70" class="img-grid">
              </div>
             </div>

              </div>
              <h5 class="pro_desc"><span class="text-muted">Neska</span><br>
                <div class="product-des">Kids Footwear Combo</div><br>
               <span class="badge badge-pill badge-success">4.2</span>
               <span class="text-muted review-text">1120 reviews</span><br><br>
               <i class="fa fa-inr" aria-hidden="true"></i>
               650.00<span class="float-right price">10% discount</span>
              </h5>
          </div>
          <div class="col-md-3 offet-md-1">
              <div align="center" class="flip-card">
                  <div class="flip-card-inner">
                      <div class="flip-card-front">
                <a href="#"><img src="https://rukminim1.flixcart.com/image/800/960/jykfxjk0/kids-shoe/8/w/e/6c-66-j0yj0-original-imafd9fpjejzghqw.jpeg?q=50" class="img-grid"></a>
              </div>
              <div class="flip-card-back">
                  <img src="https://rukminim1.flixcart.com/image/800/960/k19lvgw0/kids-shoe/5/p/y/5c-28-levot-original-imafeyb8fyrywhvm.jpeg?q=50" class="img-grid">
                </div>
               </div>

                </div>
                <h5 class="pro_desc"><span class="text-muted">IM Baby</span><br>
                  <div class="product-des">Baby Boy Casual Shoe</div><br>
                 <span class="badge badge-pill badge-success">4.9</span>
                 <span class="text-muted review-text">3216 reviews</span><br><br>
                 <i class="fa fa-inr" aria-hidden="true"></i>
                 1500.00<span class="float-right price">30% discount</span>
                </h5>
          </div>
          <div class="col-md-3 offet-md-1">
              <div align="center" class="flip-card">
                  <div class="flip-card-inner">
                      <div class="flip-card-front">
                <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jy4q3680/kids-shoe/u/b/t/11-chmss19cs004c-chemistry-original-imafgfv7ujsmyghg.jpeg?q=50" class="img-grid"></a>
              </div>
              <div class="flip-card-back">
                  <img src="https://rukminim1.flixcart.com/image/800/960/jy4q3680/kids-shoe/u/b/t/11-chmss19cs004c-chemistry-original-imafgfv76ttzh4e8.jpeg?q=50" class="img-grid">
                </div>
               </div>

                </div>
                <h5 class="pro_desc"><span class="text-muted">Mayu</span><br>
                  <div class="product-des">Girls Ballerina</div><br>
                 <span class="badge badge-pill badge-success">4.7</span>
                 <span class="text-muted review-text">280 reviews</span><br><br>
                 <i class="fa fa-inr" aria-hidden="true"></i>
                 550.00<span class="float-right price">5% discount</span>
                </h5>         
          </div>
          <div class="col-md-3 offet-md-1">
              <div align="center" class="flip-card">
                  <div class="flip-card-inner">
                      <div class="flip-card-front">
                <a href="#"><img src="https://rukminim1.flixcart.com/image/495/594/jwpa8i80/kids-sandal/c/8/j/10-205483-crocs-original-imafhbw8k8xhzmzt.jpeg?q=50" class="img-grid"></a>
              </div>
              <div class="flip-card-back">
                  <img src="https://rukminim1.flixcart.com/image/800/960/jua4djk0/kids-sandal/c/f/5/10-205100-crocs-original-imaffgdhffqbbyvq.jpeg?q=50" class="img-grid">
                </div>
               </div>

                </div>
                <h5 class="pro_desc"><span class="text-muted">Crocs</span><br>
                  <div class="product-des">Crocs Boys sandle</div><br>
                 <span class="badge badge-pill badge-success">4.3</span>
                 <span class="text-muted review-text">112 reviews</span><br><br>
                 <i class="fa fa-inr" aria-hidden="true"></i>
                 350.00<span class="float-right price">10% discount</span>
                </h5>         
          </div>
        </div>
        </div>
    </div>
      </div>

    </div> 
  </div>
</section>
