<div class="card-header">
    <h3>Comic Books</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a  class="ads"><img src="../assets/books/comic1.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">Great Stories for Children<br><br><p class="text-muted" >Ruskin Bond</p>
                <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(4959)</span><br>
               
                <i class="fa fa-inr" aria-hidden="true"></i>199&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >240</p><b>17% off</b>
           </h5>
            </a>  
            </div>
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a  class="ads"><img src="../assets/books/comic2.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">101 Panchatantra Stories<br><br><p class="text-muted" >DreamLand</p>
                <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(93)</span><br>
                <i class="fa fa-inr" aria-hidden="true"></i>113&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >170</p><b>33% off</b>
            </h5>
            </a>                              
            </div>
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a  class="ads"> <img src="../assets/books/comic3.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">Exam Warriors<br><br><p class="text-muted" >Narendra Modi</p>
                <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(4,065)</span><br>
                <i class="fa fa-inr" aria-hidden="true"></i>52&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >100</p><b>48% off</b>
           </h5>
            </a>
                
            </div>
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a  class="ads"> <img src="../assets/books/comic4.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                <h5 class="pro_desc">The Lion, The Witch & THE Wardrobe<p class="text-muted" >Pavan K</p>
                    <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(121)</span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>164&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >230</p><b>39% off</b>
                    </h5>
                </a>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a  class="ads"><img src="../assets/books/comic1.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">Great Stories for Children<br><br><p class="text-muted" >Ruskin Bond</p>
                <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(4959)</span><br>
               
                <i class="fa fa-inr" aria-hidden="true"></i>199&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >240</p><b>17% off</b>
           </h5>
            </a>  
            </div>
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a  class="ads"><img src="../assets/books/comic2.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">101 Panchatantra Stories<br><br><p class="text-muted" >DreamLand</p>
                <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(93)</span><br>
                <i class="fa fa-inr" aria-hidden="true"></i>113&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >170</p><b>33% off</b>
            </h5>
            </a>                              
            </div>
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a  class="ads"> <img src="../assets/books/comic3.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">Exam Warriors<br><br><p class="text-muted" >Narendra Modi</p>
                <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(4,065)</span><br>
                <i class="fa fa-inr" aria-hidden="true"></i>52&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >100</p><b>48% off</b>
           </h5>
            </a>
                
            </div>
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a  class="ads"> <img src="../assets/books/comic4.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                <h5 class="pro_desc">The Lion, The Witch & THE Wardrobe<p class="text-muted" >Pavan K</p>
                    <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(121)</span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>164&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >230</p><b>39% off</b>
                    </h5>
                </a>
            </div> 
        </div>
    </div>