

<nav class="navbar navbar-expand-lg navbar-light  navdesi" >
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="col-md-6 offset-3">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Electronics
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <h5 class="dropdown-item"  >Mobiles</h5>
                  <a class="dropdown-item navdisplay"  routerLink="electronics/samsung">Samsung</a>
                  <a class="dropdown-item navdisplay" routerLink="electronics/mi">Mi</a>

                  <h5 class="dropdown-item">Laptops</h5>
                  <a class="dropdown-item navdisplay"  routerLink="#">Hp</a>
                  <a class="dropdown-item navdisplay" routerLink="#">Dell</a>
                  
                  <h5 class="dropdown-item">Home Appliances</h5>
                  <a class="dropdown-item navdisplay"  routerLink="#">Fridge</a>
                  <a class="dropdown-item navdisplay" routerLink="#">Washing Machine</a>
                  
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Fashion
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="#">Mobiles</a>
                  <a class="dropdown-item" routerLink="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Books
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="#">Action</a>
                  <a class="dropdown-item" routerLink="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Furniture
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="#">Action</a>
                  <a class="dropdown-item" routerLink="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sports
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <h5 class="dropdown-item"  >Cricket</h5>
                  <a class="dropdown-item navdisplay"  routerLink="sports/cricket-bat">Cricket Bat</a>
                  <a class="dropdown-item navdisplay" routerLink="sports/cricket-kits">Cricket Kits</a>

                  <h5 class="dropdown-item">Badminton</h5>
                  <a class="dropdown-item navdisplay"  routerLink="sports/badminton-racquets">Badminton racquets</a>
                  <a class="dropdown-item navdisplay" routerLink="sports/badminton-shuttles">Badminton Shuttles</a>
                  
                  <h5 class="dropdown-item">Cycling</h5>
                  <a class="dropdown-item navdisplay"  routerLink="sports/cycles">Cycles</a>
                  <a class="dropdown-item navdisplay" routerLink="sports/cycling-accessories">Cycle Accessories</a>
                  
                </div>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Groceries
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="#">Action</a>
                <a class="dropdown-item" routerLink="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="#">Something else here</a>
              </div>
            </li>
          </ul>
      </div>
    </div>
  </nav>