

<nav class="navbar navbar-expand-lg navbar-light  " style="background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4)">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="col-md-6 offset-3">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="electronics" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Electronics
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="#">Action</a>
                  <a class="dropdown-item" routerLink="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="fashion" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Fashion
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="#">Action</a>
                  <a class="dropdown-item" routerLink="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="books" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Books
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="#">Action</a>
                  <a class="dropdown-item" routerLink="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Furniture
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="#">Action</a>
                  <a class="dropdown-item" routerLink="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sports
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="#">Action</a>
                  <a class="dropdown-item" routerLink="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="#">Something else here</a>
                </div>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Groceries
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="#">Action</a>
                <a class="dropdown-item" routerLink="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="#">Something else here</a>
              </div>
            </li>
          </ul>
      </div>
    </div>
  </nav>