
<div class="card"> 
        <div class="card-header">
          <h4>My WishList</h4>
                </div>
                <div class="card-body">
                <div class="row">
        <div class="col-md-4">
           <img   src="../assets/img/phone.jpg"  alt="...">
                        </div>
                       
                        <div class=col-md-8>
                         <h4>Samsung Galaxy Note11 Pro</h4>
                                <i class="fa fa-inr" aria-hidden="true"></i>27,999<br>
                                <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span><br><br> 
                                      <a href="#" class="btn btn-primary">
                                              <i class="fa fa-cart-plus" style="color:#fff"></i> ADD TO CART</a>  
                    </div>
                </div>
                <hr>
                   
                    <div class="row">
                                <div class="col-md-4">
                                   <img   src="../assets/img/books.jpg"  alt="...">
                                                </div>
                                               
                                                <div class=col-md-8 clas="desc">
                                                 <h4>The Miracles of Your Mind</h4>
                                                        <i class="fa fa-inr" aria-hidden="true"></i>196<br>
                                                        <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span><br><br>
                    
                                                        <a href="#" class="btn btn-primary">
                                                                        <i class="fa fa-cart-plus" style="color:#fff"></i> ADD TO CART</a>
                                                  </div>
                                          </div>
                                   </div>
                            </div>
         

        
        
        
        
        
        
         






