<div class="card-header">
    <h3>School Books</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a  class="ads"><img src="../assets/books/sch1.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                <h5 class="pro_desc"> Mathematics for Class 9 (2019-2020) <p class="text-muted" >R.S Agarwal</p>
                <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(1,208)</span><br>
               
                <i class="fa fa-inr" aria-hidden="true"></i>347&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >435</p><b>20% off</b>
                </h5>
            </a>    
            </div>
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a  class="ads"><img src="../assets/books/sch2.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                <h5 class="pro_desc">All In One Science CBSE class 9 <p class="text-muted" >Arihant</p>
                <span class="badge badge-pill badge-success"> 4.1   <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(887)</span><br>
                <i class="fa fa-inr" aria-hidden="true"></i>230&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >410</p><b>43% off</b>
            </h5>
            </a>                               
            </div>
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a class="ads"> <img src="../assets/books/sch3.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">All In One SocialScience CBSE class 9 <p class="text-muted" >Arihant</p>
                <span class="badge badge-pill badge-success"> 4.7 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(1,240)</span><br>
                <i class="fa fa-inr" aria-hidden="true"></i>238&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >410</p><b>41% off</b>
              </h5>
            </a>  
            </div>
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a class="ads"><img src="../assets/books/sch5.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">CBSE Chapterwise  Physics Solved Papers <p class="text-muted" >Arihant</p>
                    <span class="badge badge-pill badge-success"> 3.6 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(562)</span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>177&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >330</p><b>39% off</b> 
                
                </h5>
                </a>
                </div> 
            
            </div>
            <div class="row">
                <div class="col-md-3">
                        <a href="">
                            <br>
                    <a  class="ads"><img src="../assets/books/sch1.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                    <h5 class="pro_desc"> Mathematics for Class 9 (2019-2020) <p class="text-muted" >R.S Agarwal</p>
                    <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(1,208)</span><br>
                   
                    <i class="fa fa-inr" aria-hidden="true"></i>347&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >435</p><b>20% off</b>
                    </h5>
                </a>    
                </div>
                <div class="col-md-3">
                        <a href="">
                            <br>
                    <a  class="ads"><img src="../assets/books/sch2.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                    <h5 class="pro_desc">All In One Science CBSE class 9 <p class="text-muted" >Arihant</p>
                    <span class="badge badge-pill badge-success"> 4.1   <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(887)</span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>230&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >410</p><b>43% off</b>
                </h5>
                </a>                               
                </div>
                <div class="col-md-3">
                        <a href="">
                            <br>
                    <a class="ads"> <img src="../assets/books/sch3.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                    <h5 class="pro_desc">All In One SocialScience CBSE class 9 <p class="text-muted" >Arihant</p>
                    <span class="badge badge-pill badge-success"> 4.7 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(1,240)</span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>238&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >410</p><b>41% off</b>
                  </h5>
                </a>  
                </div>
                <div class="col-md-3">
                        <a href="">
                            <br>
                    <a class="ads"><img src="../assets/books/sch5.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                    <h5 class="pro_desc">CBSE Chapterwise  Physics Solved Papers <p class="text-muted" >Arihant</p>
                        <span class="badge badge-pill badge-success"> 3.6 <h6 class="fa fa-star checked"></h6></span>
                        &nbsp;<span class="text-muted">(562)</span><br>
                        <i class="fa fa-inr" aria-hidden="true"></i>177&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >330</p><b>39% off</b> 
                    
                    </h5>
                    </a>
                    </div> 
                
                </div>
        
    </div>