.form-control{
    width:24em;
    margin-top:10px; 
    border-radius: 10px;
    margin-left: 10px;
    }
    nav{
        background-image: radial-gradient( circle farthest-corner at 9.4% 24.3%, rgb(255, 143, 30) 0.9%, rgb(210, 24, 73) 100.6% );
    }
    .nav-link{
        padding-top: 15px;
        font-size: 20px;
    }
    .navbar .navbar-nav .nav-item .nav-link{
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        transition: 0.5s;
    }
    .navbar .navbar-nav .nav-item .nav-link:hover{
    color: #fff;
    }
    nav.black{
        background-image: linear-gradient( 109.6deg, rgb(210, 24, 73) 100.6% ,  rgb(255, 143, 30) 0.9%); width: 100%;
        position: fixed;
        left: 0px;
        transition:all 2s fade-in;
    }
    .modal-body{
        padding: 0%;
    }
    .dropcol{
        color: black !important;
        font-size: 14px;
    }
    .searchbut{
        height: 40px;
        margin-top: 10px;
    }