<div class="container-fluid">
<div class="row">
<div class="col-md-2">
<div class="card side" >
<div class="card-header">
   Filter
</div>
<div class="card-body">

</div>

</div>



</div>
<div class="col-md-10">
        <div class="card ">
                <div class="container-fluid">
                <div class="card-header">
                <h3>BOOKS</h3>
                </div>
                <div class="card-body">
                <div class="row">
                <div class="col-md-3">
                    <a href="">
                        <br>
                   <div align="center"> <a class="ads"><img src="../assets/books/fic1.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a></div>
                    <h5 class="pro_desc" >Earth to Centauri-The First Journey <br>
                    <span class="badge badge-pill badge-success"> 3.1 <h6 class="fa fa-star checked"></h6></span><br>
                   
                    <i class="fa fa-inr" aria-hidden="true"></i>207
                </h5>
                </a>
                </div>
                <div class="col-md-3">
                        <a href="">
                            <br>
                    <a class="ads"><img src="../assets/books/fic3.jpeg" class="day"  alt="..."></a>
                    <h5 class="pro_desc">The Martian<br>
                    <span class="badge badge-pill badge-success"> 3.6 <h6 class="fa fa-star checked"></h6></span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>360
                </h5>
                </a>                             
                </div>
                <div class="col-md-3">
                        <a href="">
                                <br>
                    <a class="ads"><img src="../assets/books/fic8.jpeg" class="day"  alt="..."></a>                        
                    <h5 class="pro_desc">The Ottoman Secret<br>
                    <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>214
                </h5>
                </a>
                </div>
                <div class="col-md-3">
                        <a href="">
                                <br>
                    <a  class="ads"> <img src="../assets/books/fic9.jpeg" class="day"  alt="..."></a>
                    <h5 class="pro_desc">The Last Avatar<br>
                        (Age of Kalki #1)<br>
                        <span class="badge badge-pill badge-success"> 4.9 <h6 class="fa fa-star checked"></h6></span><br>
                        <i class="fa fa-inr" aria-hidden="true"></i>366
                    </h5>
                    </a>
                </div> 
                </div>
                <hr>
                <div class="row">
                        <div class="col-md-3">
                                <a href="">
                                        <br>
                            <a  class="ads">  <img src="../assets/books/fan1.jpeg" class="day"  alt="..."></a>
                            <h5 class="pro_desc">Sita<br>
                            <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span><br>
                           
                            <i class="fa fa-inr" aria-hidden="true"></i>231
                        </h5>
                        </a>  
                        </div>
                        <div class="col-md-3">
                                <a href="">
                                        <br>
                            <a  class="ads"> <img src="../assets/books/fan2.jpeg" class="day"  alt="..."></a>
                            <h5 class="pro_desc">Till The Last Breath . . .<br>
                            <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span><br>
                            <i class="fa fa-inr" aria-hidden="true"></i>149
                        </h5>
                        </a>                             
                        </div>
                        <div class="col-md-3">
                                <a href="">
                                    <br>
                            <a  class="ads"><img src="../assets/books/fan3.jpeg" class="day"  alt="..."></a>
                            <h5 class="pro_desc">Harry Potter and the Half-Blood Prince<br>
                            <span class="badge badge-pill badge-success"> 4.7 <h6 class="fa fa-star checked"></h6></span><br>
                            <i class="fa fa-inr" aria-hidden="true"></i>452
                          </h5>
                        </a>
                        </div>
                        <div class="col-md-3">
                                <a href="">
                                    <br>
                            <a  class="ads"><img src="../assets/books/fan5.jpeg"  class="day" alt="..."></a>
                            <h5 class="pro_desc">The Fellowship Of The Ring<br>
                                <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span><br>
                                <i class="fa fa-inr" aria-hidden="true"></i>285 
                            </h5>
                            </a>
                        </div> 
                        
                        </div>
                <hr>
                <div class="row">
                        <div class="col-md-3">
                                <a href="">
                                    <br>
                            <a class="ads"><img src="../assets/books/rel1.jpeg"  class="day" alt="..."></a>
                            <h5 class="pro_desc">Mahabharata<br>
                            <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span><br>
                           
                            <i class="fa fa-inr" aria-hidden="true"></i>842
                        </h5>
                        </a> 
                        </div>
                        <div class="col-md-3">
                                <a href="">
                                    <br>
                            <a  class="ads"><img src="../assets/books/rel5.jpeg" class="day"  alt="..."></a>
                            <h5 class="pro_desc">Chanakya Neeti<br>
                            <span class="badge badge-pill badge-success"> 4.1 <h6 class="fa fa-star checked"></h6></span><br>
                            <i class="fa fa-inr" aria-hidden="true"></i>120
                       </h5>
                        </a>                                 
                        </div>
                        <div class="col-md-3">
                                <a href="">
                                    <br>
                            <a  class="ads"> <img src="../assets/books/rel3.jpeg"  class="day" alt="..."></a>
                            <h5 class="pro_desc">Bhagavad Gita Yathayatha (Bengali)<br>
                            <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span><br>
                            <i class="fa fa-inr" aria-hidden="true"></i>315
                            </h5>
                        </a>
                        </div>
                        <div class="col-md-3">
                                <a href="">
                                    <br>
                            <a  class="ads"><img src="../assets/books/rel54.jpeg" class="day"  alt="..."></a>
                            <h5 class="pro_desc">The God Delusion<br>
                                <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span><br>
                                <i class="fa fa-inr" aria-hidden="true"></i>422 
                                </h5>
                            </a>
                        </div> 
                        
                        </div>
                        <hr>
                        <div class="row">
                                <div class="col-md-3">
                                        <a href="">
                                            <br>
                                    <a  class="ads"><img src="../assets/books/phil1.jpeg" class="day"  alt="..."></a>
                                    <h5 class="pro_desc">Enlightenment Now<br>
                                    <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span><br>
                                   
                                    <i class="fa fa-inr" aria-hidden="true"></i>357
                                        </h5>
                                </a>  
                                </div>
                                <div class="col-md-3">
                                        <a href="">
                                            <br>
                                    <a class="ads"><img src="../assets/books/phil2.jpeg" class="day"  alt="..."></a>
                                    <h5 class="pro_desc">You Are The Supreme Light<br>
                                    <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
                                    <i class="fa fa-inr" aria-hidden="true"></i>269
                                </h5>
                                </a>                              
                                </div>
                                <div class="col-md-3">
                                        <a href="">
                                            <br>
                                    <a class="ads"><img src="../assets/books/phil3.jpeg" class="day"  alt="..."></a>
                                    <h5 class="pro_desc">THE DECLINE OF CIVILIZATION - Why We Need to Return to ...<br>
                                    <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span><br>
                                    <i class="fa fa-inr" aria-hidden="true"></i>251
                                  </h5>
                                </a> 
                                </div>
                                <div class="col-md-3">
                                        <a href="">
                                            <br>
                                    <a class="ads"><img src="../assets/books/phil4.jpeg" class="day"  alt="..."></a>
                                    <h5 class="pro_desc">An Introducation to Indian Philosophy<br>
                                        <span class="badge badge-pill badge-success"> 3.6 <h6 class="fa fa-star checked"></h6></span><br>
                                        <i class="fa fa-inr" aria-hidden="true"></i>177 
                                        </h5>
                                    </a>
                                    </div> 
                                
                                </div>
                <hr>
                <div class="row">
                        <div class="col-md-3">
                                <a href="">
                                    <br>
                            <a  class="ads"><img src="../assets/books/sch1.jpeg"  class="day" alt="..."></a>
                            <h5 class="pro_desc">Secondary School Mathematics for Class 9 (2019-2020) Session<br>
                            <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span><br>
                           
                            <i class="fa fa-inr" aria-hidden="true"></i>347
                            </h5>
                        </a>    
                        </div>
                        <div class="col-md-3">
                                <a href="">
                                    <br>
                            <a  class="ads"><img src="../assets/books/sch2.jpeg"  class="day" alt="..."></a>
                            <h5 class="pro_desc">All In One Science CBSE class 9 - Book<br>
                            <span class="badge badge-pill badge-success"> 4.1   <h6 class="fa fa-star checked"></h6></span><br>
                            <b><i class="fa fa-inr" aria-hidden="true"></i>230</b>
                        
                        </a>                               
                        </div>
                        <div class="col-md-3">
                                <a href="">
                                    <br>
                            <a class="ads"> <img src="../assets/books/sch3.jpeg" class="day"  alt="..."></a><br>
                            <h4 class="pro_desc">ALL IN ONE CBSE CLASS-9 SOCIAL SCIENCE 2019-20</h4>
                            <span class="badge badge-pill badge-success"> 4.7 <h6 class="fa fa-star checked"></h6></span><br>
                            <b><i class="fa fa-inr" aria-hidden="true"></i>238</b>
                          
                        </a>  
                        </div>
                        <div class="col-md-e3">
                                <a href="">
                                    <br>
                            <a class="ads"><img src="../assets/books/sch5.jpeg" class="day"  alt="..."></a><br>
                            <h4 class="pro_desc">CBSE Chapterwise Solved Papers 2019-2010 Physics Class</h4>
                                <span class="badge badge-pill badge-success"> 3.6 <h6 class="fa fa-star checked"></h6></span><br>
                                <b><i class="fa fa-inr" aria-hidden="true"></i>177</b> 
                            </a>
                            </div> 
                        
                        </div>
                        <hr>
                        <div class="row">
                                <div class="col-md-3">
                                        <a href="">
                                            <br>
                                    <a  class="ads"><img src="../assets/books/eng1.jpeg"  class="day" alt="..."></a><br>
                                    <h4 class="pro_desc">Enlightenment Now</h4>
                                    <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span><br>
                                   
                                    <b><i class="fa fa-inr" aria-hidden="true"></i>357 </b>
                                </a>  
                                </div>
                                <div class="col-md-3">
                                        <a href="">
                                            <br>
                                    <a  class="ads"><img src="../assets/books/eng2.jpeg"  class="day" alt="..."></a><br>
                                    <h4 class="pro_desc">You Are The Supreme Light</h4>
                                    <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
                                    <b><i class="fa fa-inr" aria-hidden="true"></i>269</b>
                                
                                </a>                              
                                </div>
                                <div class="col-md-3">
                                        <a href="">
                                            <br>
                                    <a  class="ads"> <img src="../assets/books/eng3.jpeg"  class="day" alt="..."></a><br>
                                    <h4 class="pro_desc">THE DECLINE OF CIVILIZATION - Why We Need to Return to ...</h4>
                                    <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span><br>
                                    <b><i class="fa fa-inr" aria-hidden="true"></i>251</b>
                                </a>
                                    
                                </div>
                                <div class="col-md-3">
                                        <a href="">
                                            <br>
                                    <a  class="ads"> <img src="../assets/books/eng4.jpeg" class="day"  alt="..."></a><br>
                                    <h4 class="pro_desc">An Introducation to Indian Philosophy</h4>
                                        <span class="badge badge-pill badge-success"> 3.7 <h6 class="fa fa-star checked"></h6></span><br>
                                        <b><i class="fa fa-inr" aria-hidden="true"></i>181</b> 
                                    </a>
                                </div>
                                </div>
                                <hr>
                                <div class="row">
                                        <div class="col-md-3">
                                                <a href="">
                                                    <br>
                                            <a  class="ads"><img src="../assets/books/comic1.jpeg" class="day"  alt="..."></a><br>
                                            <h4 class="pro_desc">Great Stories for Children</h4>
                                            <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span><br>
                                           
                                            <b><i class="fa fa-inr" aria-hidden="true"></i>147 </b>
                                        </a>  
                                        </div>
                                        <div class="col-md-3">
                                                <a href="">
                                                    <br>
                                            <a  class="ads"><img src="../assets/books/comic2.jpeg" class="day"  alt="..."></a><br>
                                            <h4 class="pro_desc">101 Panchatantra Stories</h4>
                                            <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span><br>
                                            <b><i class="fa fa-inr" aria-hidden="true"></i>113</b>
                                        
                                        </a>                              
                                        </div>
                                        <div class="col-md-3">
                                                <a href="">
                                                    <br>
                                            <a  class="ads"> <img src="../assets/books/comic3.jpeg" class="day"  alt="..."></a><br>
                                            <h4 class="pro_desc">Exam Warriors</h4>
                                            <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span><br>
                                            <b><i class="fa fa-inr" aria-hidden="true"></i>52</b>
                                        </a>
                                            
                                        </div>
                                        <div class="col-md-3">
                                                <a href="">
                                                    <br>
                                            <a  class="ads"> <img src="../assets/books/comic4.jpeg"  class="day" alt="..."></a><br>
                                            <h4 class="pro_desc">The Lion, The Witch & THE Wardrobe</h4>
                                                <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span><br>
                                                <b><i class="fa fa-inr" aria-hidden="true"></i>164</b> 
                                            </a>
                                        </div> 
                                    </div>
                                    <hr>
                                        <div class="row">
                                                <div class="col-md-3" >
                                                        <a href="">
                                                            <br>
                                                    <a  class="ads"><img src="../assets/books/fancy1.jpeg" class="day"  alt="..."></a><br>
                                                    <h4 class="pro_desc">Animal Stories</h4>
                                                    <span class="badge badge-pill badge-success"> 5.0 <h6 class="fa fa-star checked"></h6></span><br>
                                                   
                                                    <b><i class="fa fa-inr" aria-hidden="true"></i>247 </b>
                                                </a>  
                                                </div>
                                                <div class="col-md-3" >
                                                        <a href="">
                                                            <br>
                                                    <a  class="ads"><img src="../assets/books/fancy2.jpeg" class="day"  alt="..."></a><br>
                                                    <h4 class="pro_desc">50 Greatest Short Stories For Children</h4>
                                                    <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span><br>
                                                    <b><i class="fa fa-inr" aria-hidden="true"></i>117</b>
                                                
                                                </a>                              
                                                </div>
                                                <div class="col-md-3">
                                                        <a href="">
                                                            <br>
                                                    <a  class="ads"> <img src="../assets/books/fancy3.jpeg"  class="day" alt="..."></a><br>
                                                    <h4 class="pro_desc">The Cheese Experiment</h4>
                                                    <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span><br>
                                                    <b><i class="fa fa-inr" aria-hidden="true"></i>205</b>
                                                </a>
                                                    
                                                </div>
                                                <div class="col-md-3" >
                                                        <a href="">
                                                            <br>
                                                    <a  class="ads"> <img src="../assets/books/fancy4.jpeg" class="day"  alt="..."></a><br>
                                                    <h4 class="pro_desc">The Hour Of Magic And The Kingdom Of Fantasy </h4>
                                                        <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span><br>
                                                        <b><i class="fa fa-inr" aria-hidden="true"></i>295</b> 
                                                    </a>
                                                </div>  
                                                </div>
                                                <hr>
                                                <div class="row">
                                                        <div class="col-md-3" >
                                                                <a href="">
                                                                    <br>
                                                            <a  class="ads"><img src="../assets/books/myth1.jpeg" class="day"  alt="..."></a><br>
                                                            <h4 class="pro_desc">Fantastic Beasts: The Crimes of Grindelwald – The Original Screenplay</h4>
                                                            <span class="badge badge-pill badge-success"> 4.7 <h6 class="fa fa-star checked"></h6></span><br>
                                                           
                                                            <b><i class="fa fa-inr" aria-hidden="true"></i>209 </b>
                                                        </a>  
                                                        </div>
                                                        <div class="col-md-3" >
                                                                <a href="">
                                                                    <br>
                                                            <a  class="ads"><img src="../assets/books/myth2.jpeg"   alt="..."></a><br>
                                                            <h4 class="pro_desc">Asura: Story of Ravana and His People</h4>
                                                            <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span><br>
                                                            <b><i class="fa fa-inr" aria-hidden="true"></i>239</b>
                                                        
                                                        </a>                              
                                                        </div>
                                                        <div class="col-md-3">
                                                                <a href="">
                                                                    <br>
                                                            <a  class="ads"> <img src="../assets/books/myth3.jpeg"   alt="..."></a><br>
                                                            <h4 class="pro_desc">The Merchant of Venice</h4>
                                                            <span class="badge badge-pill badge-success"> 4.4 <h6 class="fa fa-star checked"></h6></span><br>
                                                            <b><i class="fa fa-inr" aria-hidden="true"></i>131</b>
                                                        </a>
                                                            
                                                        </div>
                                                        <div class="col-md-3" >
                                                                <a href="">
                                                                    <br>
                                                            <a  class="ads"> <img src="../assets/books/myth4.jpeg" class="day"  alt="..."></a><br>
                                                            <h4 class="card-title">The Importance of Being Earnest </h4>
                                                                <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span><br>
                                                                <b><i class="fa fa-inr" aria-hidden="true"></i>90</b> 
                                                            </a>
                                                        </div>  
                                                        </div> 
                                                        <hr>                 
                                                        <div class="row">
                                                                <div class="col-md-3" >
                                                                        <a href="">
                                                                            <br>
                                                                    <a  class="ads"><img src="../assets/books/poet1.jpeg" class="day"  alt="..."></a><br>
                                                                    <h4 class="pro_desc">Ram Ki Gatha (Hindi)</h4>
                                                                    <span class="badge badge-pill badge-success"> 4.7 <h6 class="fa fa-star checked"></h6></span><br>
                                                                   
                                                                    <b><i class="fa fa-inr" aria-hidden="true"></i>209 </b>
                                                                </a>  
                                                                </div>
                                                                <div class="col-md-3" >
                                                                        <a href="">
                                                                            <br>
                                                                    <a  class="ads"><img src="../assets/books/poet2.jpeg" class="day"  alt="..."></a><br>
                                                                    <h4 class="pro_desc">Lord Murugan Karthikeya Katha</h4>
                                                                    <span class="badge badge-pill badge-success"> 4.3 <h6 class="fa fa-star checked"></h6></span><br>
                                                                    <b><i class="fa fa-inr" aria-hidden="true"></i>200</b>
                                                                
                                                                </a>                              
                                                                </div>
                                                                <div class="col-md-3">
                                                                        <a href="">
                                                                            <br>
                                                                    <a  class="ads"> <img src="../assets/books/poet3.jpeg" class="day"  alt="..."></a><br>
                                                                    <h4 class="pro_desc">GANGA - The Constant Goddess</h4>
                                                                    <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span><br>
                                                                    <b><i class="fa fa-inr" aria-hidden="true"></i>218</b>
                                                                </a>
                                                                    
                                                                </div>
                                                                <div class="col-md-3" >
                                                                        <a href="">
                                                                            <br>
                                                                    <a  class="ads"> <img src="../assets/books/poet4.jpeg" class="day"  alt="..."></a><br>
                                                                    <h4 class="pro_desc">The Valmiki Ramayana Vol. 1 </h4>
                                                                        <span class="badge badge-pill badge-success"> 4.8 <h6 class="fa fa-star checked"></h6></span><br>
                                                                        <b><i class="fa fa-inr" aria-hidden="true"></i>497</b> 
                                                                    </a>
                                                                </div>  
                                                                </div>
                
                
                
                </div>
                </div>
                </div>
                
                






</div>



</div>




</div>