.side{
    width:250px;
    float: left;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#dropdownMenuLink:hover{
    cursor: pointer;
}#dropdownMenuLink1:hover{
    cursor: pointer;
}
#dropdownMenuLink2:hover{
    cursor: pointer;
}
#dropdownMenuLink3:hover{
    cursor: pointer;
}
#dropdownMenuLink4:hover{
    cursor: pointer;
}
.btn .btn-primary{
    margin-left: 50%; 
   }
   #btn_order{
    margin-left: 18%;
   }