
        <div class="card side" >
            <div class="card-header" align="center">
               FILTER
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                        <div>
                              <div role="button" id="dropdownMenuLink" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                               Fiction
                              </div>
                            
                              <div class="collapse" aria-labelledby="dropdownMenuLink" id="collapseExample">
                                <a  routerLink="science" class="list-group-item">Science Fiction</a>
                                <a   routerLink="fantasy"  class="list-group-item">Fantacy Fiction</a>
                               
                              </div>
                            </div>
                          </li> 
                    <li class="list-group-item">
                          <div>
                                  <div role="button" id="dropdownMenuLink1" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                   Philosophy
                                  </div>
    
                                
                                  <div class="collapse" aria-labelledby="dropdownMenuLink1" id="collapseExample">
                                    <a  routerLink="religion" class="list-group-item">Religion Book</a>
                                    <a routerLink="philosophy" class="list-group-item">Philosophy Book</a>
                                </div>
                                </div>
                    </li>
                    <li class="list-group-item">
                          <div>
                            <div role="button" id="dropdownMenuLink2" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                   Textbooks
                                  </div>
                                <div class="collapse" aria-labelledby="dropdownMenuLink2" id="collapseExample">
                                    <a  routerLink="school" class="list-group-item">School Book</a>
                                    <a  routerLink="engineer" class="list-group-item">Engineering Book</a>
                                 </div>
                                </div>
                    </li>
                    <li class="list-group-item">
                        <div>
                          <div role="button" id="dropdownMenuLink3" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                                 Children Books
                                </div>
                              <div class="collapse" aria-labelledby="dropdownMenuLink3" id="collapseExample">
                                  <a  routerLink="comic" class="list-group-item">Comic Book</a>
                                  <a routerLink="fancy" class="list-group-item">Fantasy Book</a>
                               </div>
                              </div>
                  </li>
                  <li class="list-group-item">
                    <div>
                      <div role="button" id="dropdownMenuLink4" data-toggle="collapse" data-target="#collapseExample" aria-haspopup="true" aria-expanded="false">
                             Literature
                            </div>
                          <div class="collapse" aria-labelledby="dropdownMenuLink4" id="collapseExample">
                              <a routerLink="mythology" class="list-group-item">Mythological Book</a>
                              <a  routerLink="poetry"class="list-group-item">Poetry Book</a>
                           </div>
                          </div>
              </li>
                  </ul>
     </div>
       </div>
            <div class="card ">
                <router-outlet></router-outlet>
                        
                            </div>
                            
    