<div class="card-header">
    <h3>Poetry Books</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3" >
                    <a href="">
                        <br>
                <a  class="ads"><img src="../assets/books/poet1.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">Ram Ki Gatha (Hindi)<br><br><p class="text-muted" >Devadatta Patnayak</p>
                <span class="badge badge-pill badge-success"> 4.7 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(1)</span><br>
                <i class="fa fa-inr" aria-hidden="true"></i>209&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >195</p><b>4% off</b>
                </h5>
            </a>  
            </div>
            <div class="col-md-3" >
                    <a href="">
                        <br>
                <a  class="ads"><img src="../assets/books/poet2.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">Lord Murugan Karthikeya Katha<p class="text-muted" >R.Vishwanathan</p>
                <span class="badge badge-pill badge-success"> 4.3 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(3)</span><br>
                <i class="fa fa-inr" aria-hidden="true"></i>200&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >400</p><b>50% off</b>
            </h5>
            </a>                               
            </div>
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a  class="ads"> <img src="../assets/books/poet3.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">GANGA - The Constant Goddess<p class="text-muted" >Anujhachandra Mouli</p>
                <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(21)</span><br>
                <i class="fa fa-inr" aria-hidden="true"></i>218&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >295</p><b>26% off</b>
                </h5>
            </a>
                
            </div>
            <div class="col-md-3" >
                    <a href="">
                        <br>
                <a  class="ads"> <img src="../assets/books/poet4.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">The Valmiki Ramayana Vol. 1 <p class="text-muted" >Bibik Debaroy</p>
                    <span class="badge badge-pill badge-success"> 4.8 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(33)</span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>497&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >599</p><b>17% off</b>
                    </h5>  
                </a>
            </div>  
            </div>
            <div class="row">
                <div class="col-md-3" >
                        <a href="">
                            <br>
                    <a  class="ads"><img src="../assets/books/poet1.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                    <h5 class="pro_desc">Ram Ki Gatha (Hindi)<br><br><p class="text-muted" >Devadatta Patnayak</p>
                    <span class="badge badge-pill badge-success"> 4.7 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(1)</span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>209&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >195</p><b>4% off</b>
                    </h5>
                </a>  
                </div>
                <div class="col-md-3" >
                        <a href="">
                            <br>
                    <a  class="ads"><img src="../assets/books/poet2.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                    <h5 class="pro_desc">Lord Murugan Karthikeya Katha<p class="text-muted" >R.Vishwanathan</p>
                    <span class="badge badge-pill badge-success"> 4.3 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(3)</span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>200&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >400</p><b>50% off</b>
                </h5>
                </a>                               
                </div>
                <div class="col-md-3">
                        <a href="">
                            <br>
                    <a  class="ads"> <img src="../assets/books/poet3.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                    <h5 class="pro_desc">GANGA - The Constant Goddess<p class="text-muted" >Anujhachandra Mouli</p>
                    <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(21)</span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>218&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >295</p><b>26% off</b>
                    </h5>
                </a>
                    
                </div>
                <div class="col-md-3" >
                        <a href="">
                            <br>
                    <a  class="ads"> <img src="../assets/books/poet4.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                    <h5 class="pro_desc">The Valmiki Ramayana Vol. 1 <p class="text-muted" >Bibik Debaroy</p>
                        <span class="badge badge-pill badge-success"> 4.8 <h6 class="fa fa-star checked"></h6></span>
                        &nbsp;<span class="text-muted">(33)</span><br>
                        <i class="fa fa-inr" aria-hidden="true"></i>497&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >599</p><b>17% off</b>
                        </h5>  
                    </a>
                </div>  
                </div>
    </div>