<div class="card-header">
    <h3>Fantasy Books</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3" >
                    <a href="">
                        <br>
                <a  class="ads"><img src="../assets/books/fancy1.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">Animal Stories<br><br><p class="text-muted" >Aarav G</p>
                <span class="badge badge-pill badge-success"> 5.0 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(12)</span><br>
               
                <i class="fa fa-inr" aria-hidden="true"></i>247&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >450</p><b>43% off</b>
                </h5>
            </a>  
            </div>
            <div class="col-md-3" >
                    <a href="">
                        <br>
                <a  class="ads"><img src="../assets/books/fancy2.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">50 Greatest Short Stories For Children<p class="text-muted" >O'Brien Terry</p>
                <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(138)</span><br>
                <i class="fa fa-inr" aria-hidden="true"></i>117&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >195</p><b>40% off</b>
        </h5>
            </a>                              
            </div>
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a  class="ads"> <img src="../assets/books/fancy3.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                <h5 class="pro_desc">The Cheese Experiment<br><br><p class="text-muted" >Geronimo stilton</p>
                <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(175)</span><br>
                <i class="fa fa-inr" aria-hidden="true"></i>205&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >295</p><b>30% off</b>
                </h5>
            </a>
                
            </div>
            <div class="col-md-3" >
                    <a href="">
                        <br>
                <a  class="ads"> <img src="../assets/books/fancy4.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">The Hour Of Magic And The Kingdom Of Fantasy<p class="text-muted" >Geronimo Stiton</p>
                    <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(775)</span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>349&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >550</p><b>36% off</b>
                    </h5>
                </a>
            </div>  
            </div>
            <div class="row">
                <div class="col-md-3" >
                        <a href="">
                            <br>
                    <a  class="ads"><img src="../assets/books/fancy1.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                    <h5 class="pro_desc">Animal Stories<br><br><p class="text-muted" >Aarav G</p>
                    <span class="badge badge-pill badge-success"> 5.0 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(12)</span><br>
                   
                    <i class="fa fa-inr" aria-hidden="true"></i>247&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >450</p><b>43% off</b>
                    </h5>
                </a>  
                </div>
                <div class="col-md-3" >
                        <a href="">
                            <br>
                    <a  class="ads"><img src="../assets/books/fancy2.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                    <h5 class="pro_desc">50 Greatest Short Stories For Children<p class="text-muted" >O'Brien Terry</p>
                    <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(138)</span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>117&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >195</p><b>40% off</b>
            </h5>
                </a>                              
                </div>
                <div class="col-md-3">
                        <a href="">
                            <br>
                    <a  class="ads"> <img src="../assets/books/fancy3.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                    <h5 class="pro_desc">The Cheese Experiment<br><br><p class="text-muted" >Geronimo stilton</p>
                    <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(175)</span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>205&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >295</p><b>30% off</b>
                    </h5>
                </a>
                    
                </div>
                <div class="col-md-3" >
                        <a href="">
                            <br>
                    <a  class="ads"> <img src="../assets/books/fancy4.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                    <h5 class="pro_desc">The Hour Of Magic And The Kingdom Of Fantasy<p class="text-muted" >Geronimo Stiton</p>
                        <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span>
                        &nbsp;<span class="text-muted">(775)</span><br>
                        <i class="fa fa-inr" aria-hidden="true"></i>349&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >550</p><b>36% off</b>
                        </h5>
                    </a>
                </div>  
                </div>
    </div>
