<div class="card-header">
    <h3>Religion Books</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a class="ads"><img src="../assets/books/rel1.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                <h5 class="pro_desc">Mahabharata<br><br><p class="text-muted" >Arihant</p>
                <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(12)</span><br>
               
                <i class="fa fa-inr" aria-hidden="true"></i>842&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
            </h5>
            </a> 
            </div>
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a  class="ads"><img src="../assets/books/rel5.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">Chanakya Neeti<br><br><p class="text-muted" >Maplepress</p>
                <span class="badge badge-pill badge-success"> 4.1 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(133)</span><br>
                <i class="fa fa-inr" aria-hidden="true"></i>113&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >125</p><b>9% off</b>
           </h5>
            </a>                                 
            </div>
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a  class="ads"> <img src="../assets/books/rel3.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                <h5 class="pro_desc">Bhagavad Gita Yathayatha (Bengali)<p class="text-muted" >A.C Prabhupada</p>
                <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span>
                &nbsp;<span class="text-muted">(465)</span><br>
                <i class="fa fa-inr" aria-hidden="true"></i>315&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >750</p><b>57% off</b>
                </h5>
            </a>
            </div>
            <div class="col-md-3">
                    <a href="">
                        <br>
                <a  class="ads"><img src="../assets/books/rel54.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                <h5 class="pro_desc">The God Delusion<br><br><p class="text-muted" >Richards Dawkins</p>
                    <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(572)</span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>334&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >499</p><b>33% off</b> 
                    </h5>
                </a>
            </div> 
            
            </div>
            <div class="row">
                <div class="col-md-3">
                        <a href="">
                            <br>
                    <a class="ads"><img src="../assets/books/rel1.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                    <h5 class="pro_desc">Mahabharata<br><br><p class="text-muted" >Arihant</p>
                    <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(12)</span><br>
                   
                    <i class="fa fa-inr" aria-hidden="true"></i>842&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >456</p><b>33% off</b>
                </h5>
                </a> 
                </div>
                <div class="col-md-3">
                        <a href="">
                            <br>
                    <a  class="ads"><img src="../assets/books/rel5.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                    <h5 class="pro_desc">Chanakya Neeti<br><br><p class="text-muted" >Maplepress</p>
                    <span class="badge badge-pill badge-success"> 4.1 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(133)</span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>113&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >125</p><b>9% off</b>
               </h5>
                </a>                                 
                </div>
                <div class="col-md-3">
                        <a href="">
                            <br>
                    <a  class="ads"> <img src="../assets/books/rel3.jpeg"  class="img-thumbnail img-fluid day" alt="..."></a>
                    <h5 class="pro_desc">Bhagavad Gita Yathayatha (Bengali)<p class="text-muted" >A.C Prabhupada</p>
                    <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span>
                    &nbsp;<span class="text-muted">(465)</span><br>
                    <i class="fa fa-inr" aria-hidden="true"></i>315&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >750</p><b>57% off</b>
                    </h5>
                </a>
                </div>
                <div class="col-md-3">
                        <a href="">
                            <br>
                    <a  class="ads"><img src="../assets/books/rel54.jpeg" class="img-thumbnail img-fluid day"  alt="..."></a>
                    <h5 class="pro_desc">The God Delusion<br><br><p class="text-muted" >Richards Dawkins</p>
                        <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span>
                        &nbsp;<span class="text-muted">(572)</span><br>
                        <i class="fa fa-inr" aria-hidden="true"></i>334&nbsp;&nbsp;<p class="fa fa-inr text-muted say" >499</p><b>33% off</b> 
                        </h5>
                    </a>
                </div> 
                
                </div>
    </div>