<div class="card">

    <div class="card-header" >
        <p>Home > Groceries</p>
        <h5>Showing results for Groceries</h5>

    </div>

    <div class="container-fluid">

<div class="row">

    <div class="col-md-3">
            <br>
            <a class="ads"href="#">
            <img src="/assets/img/Groceries/1a.jpeg" class="row1-photo" alt="No image" >
            <br>
            <br>
            <br>
            <h6>Dettol Original Liquid Hand Wash Refill with Instant Sanitizer</h6>
            
            <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
           <h4>₹99</h4>
        </a>
        </div>


    

    <div class="col-md-3">
            <br><br><br>
            <a class="ads"href="#">
            <img src="/assets/img/Groceries/1b.jpeg" class="row1-photo" id="img2" alt="No image" > 
            <br><br><br><br><br><br>
            <h6>Santoor Sandal & Turmeric Soap  (8 x 125 g)</h6>
            <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹210</h4></a>
        </div>

        <div class="col-md-3">
                <br><br><br>
                <a class="ads"href="#">
                 <img src="/assets/img/Groceries/1c.jpeg" class="row1-photo" alt="No image" > 
                 <br><br><br><br>
            <h6>Hamam Neem Tulsi and Aloevera Soap  (3 x 150 g)</h6>
            <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span><br>
            <h4> ₹110</h4></a>
            </div>


            <div class="col-md-3">
                    <br>
                    <a class="ads"href="#">
                 <img src="/assets/img/Groceries/1d.jpeg" class="row1-photo" id="img4" alt="No image" > 
                 <br><br><br>
                <h6>Cinthol Lime Soap  (75g Cinthol Soap Free)  (3 x 125 g)</h6>
                <span class="badge badge-pill badge-success"> 3.5 <h6 class="fa fa-star checked"></h6></span><br>
                <h4> ₹94</h4></a>
                </div>

</div>


<hr>


<div class="row">

        <div class="col-md-3">
                <a class="ads"href="#">
                <img src="/assets/img/Groceries/2a.jpeg" class="row1-photo"  alt="No image" >
                <br>
                <br>
                
                <h6>Clinic Plus Strong & Long Health Shampoo  (650 ml)</h6>
                <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
               <h4> ₹192</h4></a>
            </div>
    
    
        
    
        <div class="col-md-3">
                <a class="ads"href="#">
                <img src="/assets/img/Groceries/2b.jpeg" class="row1-photo"  alt="No image" > 
                <br><br>
                <h6>Dove Hair Fall Rescue Shampoo  (340 ml)</h6>
                <span class="badge badge-pill badge-success"> 4.3 <h6 class="fa fa-star checked"></h6></span><br>
                <h4> ₹172</h4></a>
            </div>
    
            <div class="col-md-3">
                    <a class="ads"href="#">
                     <img src="/assets/img/Groceries/2c.jpeg" class="row1-photo" alt="No image" > 
                     <br><br>
                <h6>Sunsilk Stunning Black Shine Shampoo  (340 ml)</h6>
                <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
                <h4> ₹170</h4></a>
                </div>
    
    
                <div class="col-md-3">
                        <a class="ads"href="#">
                     <img src="/assets/img/Groceries/2d.jpeg" class="row1-photo"  alt="No image" > 
                     <br><br>
                    <h6>Patanjali Kesh Kanti Shikakai Hair Cleanser  (200 ml)</h6>
                    <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span><br>
                    <h4> ₹95</h4></a>
                    </div>
    
    </div>


<hr>



    <div class="row">

            <div class="col-md-3">
                    <a class="ads"href="#">
                    <img src="/assets/img/Groceries/3a.jpeg" class="row1-photo"  alt="No image" >
                    <br>
                    <br>
                    <br><br>
                    <h6>Britannia Good Day Butter Cookies  (150 g</h6>
                    <span class="badge badge-pill badge-success"> 3.6 <h6 class="fa fa-star checked"></h6></span><br>
                   <h4> ₹18</h4></a>
                </div>
        
        
            
        
            <div class="col-md-3">
                    <a class="ads"href="#">
                    <img src="/assets/img/Groceries/3b.jpeg" class="row1-photo"  alt="No image" > 
                    <br><br><br><br>
                    <h6>Sunfeast Dark Fantasy Choco Fills  (300 g)</h6>
                    <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
                    <h4> ₹84</h4></a>
                </div>
        
                <div class="col-md-3">
                        <a class="ads"href="#">
                        <br><br><br>
                         <img src="/assets/img/Groceries/3c.jpeg" class="row1-photo" alt="No image" > 
                         <br><br><br><br><br>
                    <h6>Oreo Original Chocolatey Sandwich Biscuits  (120 g)</h6>
                    <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span><br>
                    <h4> ₹30</h4></a>
                    </div>
        
        
                    <div class="col-md-3">
                            <a class="ads"href="#">
                            <br>
                         <img src="/assets/img/Groceries/3d.jpeg" class="row1-photo"  alt="No image" > 
                         <br><br>
                        <h6>Parle Krack Jack Sweet and Salty Crackers  (400 g)</h6>
                        <span class="badge badge-pill badge-success"> 4.6 <h6 class="fa fa-star checked"></h6></span><br>
                        <h4> ₹48</h4></a>
                        </div>
        
        </div>

<hr>



<div class="row">

        <div class="col-md-3">
                <a class="ads"href="#">
                <img src="/assets/img/Groceries/4a.jpeg" class="row1-photo"  alt="No image" >
                <br>
                <br>
                <br><br>
                <h6>Kellogg's Corn Flakes Original (875 g)</h6>
                <span class="badge badge-pill badge-success"> 4.9 <h6 class="fa fa-star checked"></h6></span><br>
               <h4> ₹310</h4></a>
            </div>
    
    
        
    
        <div class="col-md-3">
                <a class="ads"href="#">
                <img src="/assets/img/Groceries/4b.jpeg" class="row1-photo"  alt="No image" > 
                <br><br>
                <br><br>
                
                <h6>Kwality Muesli Crunchy (1 kg)</h6>
                <br>
                <span class="badge badge-pill badge-success"> 4.2 <h6 class="fa fa-star checked"></h6></span><br>
                <h4> ₹299</h4></a>
            </div>
    
            <div class="col-md-3">
                    <a class="ads"href="#">
                    <br>
                     <img src="/assets/img/Groceries/4c.jpeg" class="row1-photo" alt="No image" > 
                     <br><br>
                     <br><br><br>
                     
                <h6>Sunfeast Treat Cheese Pasta (70 g)</h6>
                <br>
                <span class="badge badge-pill badge-success"> 4.1 <h6 class="fa fa-star checked"></h6></span><br>
                <h4> ₹25</h4></a>
                </div>
    
    
                <div class="col-md-3">
                        <a class="ads"href="#">
                     <img align="center"src="/assets/img/Groceries/4d.jpeg" class="row1-photo"  alt="No image" > 
                     <br><br>
                     <br><br>
                    <h6>Ching's Secret Veg Hakka Noodles </h6>
                    <br>
                    <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
                    <h4> ₹15</h4></a>
                    </div>
    
    </div>



    <div class="row">

        <div class="col-md-3">
                <a class="ads"href="#">
                <br><br>
                <img src="/assets/img/Groceries/5a.jpeg" class="row1-photo"  alt="No image" >
                <br>
                <br>
                <br><br><br>
                <h6>Rin Detergent Bar  (1000 g, Pack of 4)</h6>
                <br>
                <span class="badge badge-pill badge-success"> 3.9 <h6 class="fa fa-star checked"></h6></span><br>
               <h4> ₹66</h4></a>
            </div>
    
    
        
    
        <div class="col-md-3">
                <a class="ads"href="#">
                <img src="/assets/img/Groceries/5b.jpeg" class="row1-photo"  alt="No image" > 
                <br><br>
                <h6>Safewash Gentle Wash Fresh Liquid Detergent  (Combo Pack 1 + 1 Free, 1 kg each)  (1000 g)</h6>
                <span class="badge badge-pill badge-success"> 4.0 <h6 class="fa fa-star checked"></h6></span><br>
                <h4> ₹210</h4></a>
            </div>
    
            <div class="col-md-3">
                    <a class="ads"href="#">
                     <img src="/assets/img/Groceries/5c.jpeg" class="row1-photo" alt="No image" > 
                     <br><br>
                <h6>Odonil Multi Fragrance Blocks (Pack of 3)  (Combo Pack 3 + 1 Free, 75 g each)  (225 g)</h6>
                <span class="badge badge-pill badge-success"> 4.5 <h6 class="fa fa-star checked"></h6></span><br>
                <h4> ₹178</h4></a>
                </div>
    
    
                <div class="col-md-3">
                        <a class="ads"href="#">
                     <img src="/assets/img/Groceries/5d.jpeg" class="row1-photo"  alt="No image" > 
                     <br><br>
                    <h6>Odonil Zipper Multi Fragrances Blocks (Pack of 3)</h6>
                    <br>
                    <span class="badge badge-pill badge-success"> 4.7 <h6 class="fa fa-star checked"></h6></span><br>
                    <h4> ₹128</h4>
                    </a>
                    </div>
    
    </div>




</div>

    

</div>

